In [1]:
import csv
import pandas as pd

In [2]:
df= pd.read_csv('data/transcription.csv')

In [3]:
df.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [4]:
parcels=df[['Block #', 'Parcel #','Ward #','Land use']]

In [8]:
parcels=parcels[parcels['Block #'].str.contains("Spring")==False]

In [9]:
parcels=parcels[parcels['Block #'].str.contains("  ")==False]

In [11]:
parcels['Block #'].dtypes

dtype('O')

In [12]:
parcels.insert(0, 'Parcel_ID', range(0,0+len(parcels)))

In [13]:
parcels.head()

   Parcel_ID Block # Parcel # Ward #     Land use
0          0       1        2      4   Commercial
1          1       1        3      4   Commercial
2          2       1        4      4   Commercial
3          3       1        5      4  Residential
4          4       1        6      4   Commercial

In [14]:
parcels.to_csv('Parcels')

In [15]:
parcels

     Parcel_ID Block # Parcel # Ward #                 Land use
0            0       1        2      4               Commercial
1            1       1        3      4               Commercial
2            2       1        4      4               Commercial
3            3       1        5      4              Residential
4            4       1        6      4               Commercial
5            5       1        7      4               Commercial
6            6       1        8      4              Residential
7            7       1        9      4               Commercial
8            8       1       10      4               Commercial
9            9       1       11      4               Commercial
10          10       1       12      4  Residential\nCommercial
11          11       1       13      4               Commercial
12          12       1      13A      4               Commercial
13          13       1       14      4  Commercial\nResidential
14          14       1       15      4               Commercial
15          15       1       16      4              Residential
16          16       1       17      4              Residential
17          17       1       18      4              Residential
18          18       1       19      4               Commercial
19          19       1       20      4               Commercial
20          20       1       21      4               Commercial
21          21       1       22      4               Commercial
22          22       1       24      4               Commercial
23          23       1       25      4               Commercial
24          24       1       27      4              Residential
25          25       1       28      4               Commercial
26          26       1       29      4               Commercial
27          27       1       30      4               Commercial
28          28       1       31      4              Residential
29          29       1       32      4               Commercial
..         ...     ...      ...    ...                      ...
525        512      53        2      4              Residential
526        513      50       18      4              Residential
527        514      50       19      4              Residential
528        515       4       24      4               Commercial
529        516       4       23      4               Commercial
530        517       5       16      4              Residential
531        518       5       13      4              Residential
532        519       5       12      4              Residential
533        520      53      15B      4              Residential
534        521      53        8      4              Residential
535        522      55       40      4              Residential
536        523      55       41      4                   Church
537        524       5        6      4              Residential
538        525       5        9      4              Residential
539        526       5       10      4              Residential
540        527       5       11      4              Residential
541        528       4        6      4               Commercial
542        529       4        9      4              Residential
543        530       4       21      4              Residential
544        531       4       22      4               Commercial
545        532      53        9      4              Residential
546        533      55        1      4              Residential
547        534       4        5      4              Residential
549        535       6        8      4              Residential
550        536       5       21      4              Residential
551        537       5       21      4              Residential
552        538       5       21      4              Residential
553        539       6       38      4              Residential
554        540       6       38      4              Residential
555        541       6       38      4              Residential

[542 rows x 5 columns]

In [16]:
parcel_id=parcels[['Parcel_ID']]

In [17]:
addresses= df[['Street number', 'Street address']]

In [18]:
addresses.insert(0,'ID',range(0,0+len(addresses)))

In [19]:
addresses.head()

   ID          Street number               Street address
0   0  198\n198 1/2\n198-200                 Hillard Ave.
1   1                202-208                 Hillard Ave.
2   2                90\n196  Asheland Ave.\nHillard Ave.
3   3                     94                Asheland Ave.
4   4                     98                Asheland Ave.

In [20]:
addresses['Street number']= addresses['Street number'].str.extract('(\n)', expand=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
addresses

,ID,Street number,Street address,new
0,0,198\n198 1/2\n198-200,Hillard Ave.,198
1,1,202-208,Hillard Ave.,202-208
2,2,90\n196,Asheland Ave.\nHillard Ave.,90
3,3,94,Asheland Ave.,94
4,4,98,Asheland Ave.,98
5,5,110 - 112,Asheland Ave.,110 - 112
6,6,114,Asheland Ave.,114
7,7,122,Asheland Ave.,122
8,8,Rear of 114,Asheland Ave.,Rear of 114
9,9,132 1/2,Asheland Ave.,132 1/2
10,10,132,Asheland Ave.,132
11,11,136,Asheland Ave.,136
12,12,136,Asheland Ave.,136
13,13,2,Wallack St.,2
14,14,5,Wallack St.,5
15,15,7,Wallack St.,7
16,16,9,Wallack St.,9
17,17,11,Wallack St.,11
18,18,15,Wallack St.,15
19,19,17,Wallack St.,17
20,20,23,Wallack St.,23
21,21,23,Wallack St.,23
22,22,55,Wallack St.,55
23,23,47 1/2,Wallack St.,47 1/2
24,24,77,Wallack St.,77
25,25,87,Wallack St.,87
26,26,Rear of 87,Wallack St.,Rear of 87
27,27,Rear of 102,Wallack St.,Rear of 102
28,28,102,Wallack St.,102
29,29,101,Wallack St.,101
...,...,...,...,...
526,526,N/S,N/E Cor. Southern St. \nand Graham Place,N/S
527,527,N/S,Southern Street,N/S
528,528,99,Asheland,99
529,529,105,Asheland,105
530,530,33,Silver Street,33
531,531,NaN,Near 176 S. Grove Rd,NaN
532,532,178 1/2,S. Grove Road,178 1/2
533,533,493,S. French Broad Avenue,493
534,534,494-496,Depot Street,494-496
535,535,113,Black Street,113
536,536,103,Black Street,103
537,537,168.5,South Grove Street,168.5
538,538,174,Rear of 174 South Grove Street,174
539,539,174,Rear of 174 South Grove Street,174
540,540,192,South Grove Street,192
541,541,NaN,NaN,NaN
542,542,118,South Grove Street,118
543,543,113,Asheland Ave.,113
544,544,111,Asheland Ave.,111
545,545,502,Depot St.,502
546,546,82,Livingston St.,82
547,547,100,South Grove Street,100
548,548,Spring 2018,Spring 2018,Spring 2018
549,549,88,South French Broad Ave.,88
550,550,7,Silver St.,7
551,551,7,Silver St.,7
552,552,7,Silver St.,7
553,553,8,DeWitt St.,8
554,554,8,DeWitt St.,8
555,555,8,DeWitt St.,8