In [119]:
import csv
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import re

In [2]:
df= pd.read_csv('data/transcription.csv')

In [3]:
df.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [4]:
copy=df
copy.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [5]:
copy.drop(['Transcriber'], axis=1, inplace=True)

In [6]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [7]:
copy=copy[copy['Block #'].str.contains("Spring")==False]

In [49]:
parcels=df[['Block #', 'Parcel #','Ward #','Land use']]

In [50]:
parcels=parcels[parcels['Block #'].str.contains("Spring")==False]

In [51]:
parcels=parcels[parcels['Block #'].str.contains("  ")==False]

In [52]:
parcels['Block #'].dtypes

dtype('O')

In [53]:
parcels.insert(0, 'Parcel_ID', range(0,0+len(parcels)))

In [54]:
parcels.head()

   Parcel_ID Block # Parcel # Ward #     Land use
0          0       1        2      4   Commercial
1          1       1        3      4   Commercial
2          2       1        4      4   Commercial
3          3       1        5      4  Residential
4          4       1        6      4   Commercial

In [55]:
parcels.to_csv('output/parcels.csv')

In [56]:
parcels. shape

(542, 5)

In [57]:
parcel_id=parcels[['Parcel_ID']]

In [58]:
addresses= copy[['Street number', 'Street address']]

In [59]:
addresses=addresses.join(parcels[['Parcel_ID']])

In [60]:
addresses.head()

           Street number               Street address  Parcel_ID
0  198\n198 1/2\n198-200                 Hillard Ave.          0
1                202-208                 Hillard Ave.          1
2                90\n196  Asheland Ave.\nHillard Ave.          2
3                     94                Asheland Ave.          3
4                     98                Asheland Ave.          4

In [61]:
addresses.shape

(542, 3)

In [62]:
addresses.head()

           Street number               Street address  Parcel_ID
0  198\n198 1/2\n198-200                 Hillard Ave.          0
1                202-208                 Hillard Ave.          1
2                90\n196  Asheland Ave.\nHillard Ave.          2
3                     94                Asheland Ave.          3
4                     98                Asheland Ave.          4

In [10]:
def splitRow(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Street number']):
            data = row['Street number'].split('\n')
            for d in data:
                newrow = row
                newrow['Street number'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [64]:
test= splitRow(addresses)
test
##s = test[test['Street address'] == 'Hillard Ave.']
##x = addresses[addresses['Street address'] == 'Hillard Ave.']
##print(x)

/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Street number                            Street address  Parcel_ID
0             198                              Hillard Ave.        0.0
1         198 1/2                              Hillard Ave.        0.0
2         198-200                              Hillard Ave.        0.0
3         202-208                              Hillard Ave.        1.0
4              90               Asheland Ave.\nHillard Ave.        2.0
5             196               Asheland Ave.\nHillard Ave.        2.0
6              94                             Asheland Ave.        3.0
7              98                             Asheland Ave.        4.0
8       110 - 112                             Asheland Ave.        5.0
9             114                             Asheland Ave.        6.0
10            122                             Asheland Ave.        7.0
11    Rear of 114                             Asheland Ave.        8.0
12        132 1/2                             Asheland Ave.        9.0
13            132                             Asheland Ave.       10.0
14            136                             Asheland Ave.       11.0
15            136                             Asheland Ave.       12.0
16              2                               Wallack St.       13.0
17              5                               Wallack St.       14.0
18              7                               Wallack St.       15.0
19              9                               Wallack St.       16.0
20             11                               Wallack St.       17.0
21             15                               Wallack St.       18.0
22             17                               Wallack St.       19.0
23             23                               Wallack St.       20.0
24             23                               Wallack St.       21.0
25             55                               Wallack St.       22.0
26         47 1/2                               Wallack St.       23.0
27             77                               Wallack St.       24.0
28             87                               Wallack St.       25.0
29     Rear of 87                               Wallack St.       26.0
..            ...                                       ...        ...
544             9                    Across from 9 Louie St      512.0
545           N/S  N/E Cor. Southern St. \nand Graham Place      513.0
546           N/S                           Southern Street      514.0
547            99                                  Asheland      515.0
548           105                                  Asheland      516.0
549            33                             Silver Street      517.0
550           NaN                      Near 176 S. Grove Rd      518.0
551      178 1/2                              S. Grove Road      519.0
552           493                    S. French Broad Avenue      520.0
553       494-496                              Depot Street      521.0
554           113                              Black Street      522.0
555           103                              Black Street      523.0
556         168.5                        South Grove Street      524.0
557           174            Rear of 174 South Grove Street      525.0
558           174            Rear of 174 South Grove Street      526.0
559           192                        South Grove Street      527.0
560           NaN                                       NaN      528.0
561           118                        South Grove Street      529.0
562           113                             Asheland Ave.      530.0
563           111                             Asheland Ave.      531.0
564           502                                 Depot St.      532.0
565            82                            Livingston St.      533.0
566           100                        South Grove Street      534.0
567            88                   South French Broad Ave.      535.0
568             7                                Silver St.      536.0
569             7                                Silver St.      537.0
570             7                                Silver St.      538.0
571             8                                DeWitt St.      539.0
572             8                                DeWitt St.      540.0
573             8                                DeWitt St.      541.0

[574 rows x 3 columns]

In [65]:
test.insert(0,'ID',range(0,0+len(test)))

In [66]:
test.head()

   ID Street number               Street address  Parcel_ID
0   0           198                 Hillard Ave.        0.0
1   1       198 1/2                 Hillard Ave.        0.0
2   2       198-200                 Hillard Ave.        0.0
3   3       202-208                 Hillard Ave.        1.0
4   4            90  Asheland Ave.\nHillard Ave.        2.0

In [67]:
test.to_csv('output/addresses.csv')

In [68]:
test.head()

   ID Street number               Street address  Parcel_ID
0   0           198                 Hillard Ave.        0.0
1   1       198 1/2                 Hillard Ave.        0.0
2   2       198-200                 Hillard Ave.        0.0
3   3       202-208                 Hillard Ave.        1.0
4   4            90  Asheland Ave.\nHillard Ave.        2.0

In [300]:
people=copy[['Previous Transfer of deed People Involved','Decision People Involved','Final Transfer of Deed People Involved','Appraiser Name','Offer Made People Involved']]

In [301]:
people.head()

,Previous Transfer of deed People Involved,Decision People Involved,Final Transfer of Deed People Involved,Appraiser Name,Offer Made People Involved
0,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...
1,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,"Charles R. Stinnette Co., Inc.\n\nHACA","Charles R. Stinnette Co., Inc.\n\nHACA",Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,"Charles R. Stinnette Co., Inc.\n\nHACA"
2,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...
3,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Thelma Smathers Johnson\n\nHACA,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,Thelma Smathers Johnson\nElizabeth Pauline Sma...
4,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n","Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Edward Sale\nR. Moore\nH.E. Johnson,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n"

In [302]:
people = people.stack().reset_index()

In [303]:
people.head()

,level_0,level_1,0
0,0,Previous Transfer of deed People Involved,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...
1,0,Decision People Involved,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...
2,0,Final Transfer of Deed People Involved,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...
3,0,Appraiser Name,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson
4,0,Offer Made People Involved,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...

In [304]:
people.columns = ["a","b","names"]

In [305]:
people = people.drop(['a', 'b'], axis=1)

In [306]:
def splitRows(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        print(row)
        if '\n' in str(row['names']):
            names = row['names'].split('\n')
            print(names)
            for n in names:
                print (n)
                newrow = row
                newrow['names'] = n
                newframe.loc[size]=newrow
                size+=1
                print(newrow)
        else:
            newframe.loc[size]=row
            size+=1
        break
#     print("final:")
#     print (newframe)
    return newframe

In [315]:
def name_cleaner(name):
    k = re.sub(r'[0-9][.]', '', name)
    k = re.sub(r'[\(\)\-\&]', '', k)
    k = re.sub(r'[0-9]', '', k)
    k = re.sub(r'[.,]', ' ', k)
    k = re.sub('  ', ' ', k)
    k = k.strip()
    return k

In [316]:

def name_organizer(table):
    clean_names=[]
    
    for index, row in table.iterrows():
        names = str(row['names'])
        
        if '\n' in names:
            arr = names.split('\n')
            arr = [i for i in arr if i is not ""]
            for n in arr:
                k = name_cleaner(n)
                if k == '': 
                    continue
                clean_names.append(k)
        else:
            k = name_cleaner(names)
            if k == '': 
                continue
            clean_names.append(k)
    return clean_names

In [308]:
people=name_organizer(people)

In [309]:
newframe=pd.DataFrame(columns=['name'])

In [310]:
newframe['name'] = pd.Series(people)

In [311]:
newframe = newframe.sort_values(by='name', ascending=True)

In [312]:
newframe['id'] = range(len(newframe['name']))

In [313]:
newframe = newframe.groupby('name').size()

## Saving People's Name Count as CSV

In [314]:
newframe.to_csv('output/people_count.csv')

## Event Association Table

In [317]:
event_assoc=copy[['Decision People Involved','Decision Role']]

In [318]:
event_assoc.head()

                            Decision People Involved           Decision Role
0  \nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...    Owner\n\n\nPurchaser
1             Charles R. Stinnette Co., Inc.\n\nHACA      Owner\n\nPurchaser
2  William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...  Owner\n\n\n\nPurchaser
3  Thelma Smathers Johnson\nElizabeth Pauline Sma...    Owner\n\n\nPurchaser
4   Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n      Owner\n\nPurchaser

In [319]:
def splitRowEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            roles= str(row['Decision Role']).split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            if('Heir' in roles):
                norm='Heir'
                norm_prev='Heir'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = data[d]
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [320]:
t=splitRowEvents(event_assoc)

In [321]:
t.head()

  Decision People Involved         Decision Role
0                           Owner\n\n\nPurchaser
1    Amelia K. Kalogerakis             Purchaser
2        Eva K. Cleraderas             Purchaser
3        Steve Kalogerakis             Purchaser
4                                      Purchaser

In [322]:
t['Decision People Involved'].replace('', np.nan, inplace=True)
t.head()

  Decision People Involved         Decision Role
0                      NaN  Owner\n\n\nPurchaser
1    Amelia K. Kalogerakis             Purchaser
2        Eva K. Cleraderas             Purchaser
3        Steve Kalogerakis             Purchaser
4                      NaN             Purchaser

In [323]:
t.dropna(inplace=True)

In [324]:
t.columns = ["people","role"]

In [71]:
# t.people=t.people.apply(lambda x: x.lower())

In [325]:
t

                                      people       role
1                      Amelia K. Kalogerakis  Purchaser
2                          Eva K. Cleraderas  Purchaser
3                          Steve Kalogerakis  Purchaser
5                                       HACA      Owner
6             Charles R. Stinnette Co., Inc.      Owner
8                                       HACA  Purchaser
9                             William I. Lee      Owner
10                             Zyphin J. Lee      Owner
11                            H. Kenneth Lee      Owner
12                            Frances W. Lee      Owner
14                                      HACA  Purchaser
15                   Thelma Smathers Johnson      Owner
16                Elizabeth Pauline Smathers      Owner
18                                      HACA  Purchaser
19    Harry's Cadillac-Pontiac Company, Inc.      Owner
21                                      HACA  Purchaser
23                             Max E. Wilson      Owner
24                           Flora J. Wilson      Owner
25                             J. D. Medling      Owner
27                                      HACA  Purchaser
28               Grayson Huntzberger Fleming      Owner
29                      Peggy Evelyn Fleming      Owner
31                                      HACA  Purchaser
32                       Luther Earl McCurry      Owner
33                         Maxine S. McCurry      Owner
35                                      HACA  Purchaser
36                         William J. Reeves      Owner
37                         Mildred P. Reeves      Owner
39                                      HACA  Purchaser
40                      Millco, Incorporated      Owner
...                                      ...        ...
1807                          Perle T. Cliff      Owner
1808                         Horace A. Cliff      Owner
1809                   Lora Lee Morris Cliff      Owner
1810                        Charles J. Cliff      Owner
1811                       Betty Young Cliff      Owner
1812                     Louise Cliff Cruise      Owner
1813                            R. R. Cruise      Owner
1814                 Ruth Mary Cliff Helfand      Owner
1815                           W. T. Helfand      Owner
1817                                    HACA  Purchaser
1818                           Max E. Wilson      Owner
1819                         Flora J. Wilson      Owner
1821                                    HACA  Purchaser
1822                         Charles G. Buck      Owner
1823                         Nell P. Garrett      Owner
1825                                    HACA  Purchaser
1826                            Fred Barnard      Owner
1827                         Roselyn Barnard      Owner
1829                                    HACA  Purchaser
1830                                       -          -
1833                    Myrdirth Owen Howell      Owner
1835                                    HACA  Purchaser
1836                    Myrdirth Owen Howell      Owner
1838                                    HACA  Purchaser
1839                       Zipporah Nicholas      Owner
1841                                    HACA  Purchaser
1842                       Zipporah Nicholas      Owner
1844                                    HACA  Purchaser
1845                       Zipporah Nicholas      Owner
1847                                    HACA  Purchaser

[1298 rows x 2 columns]

In [74]:
t.merge(allppl,how='left', left_on='people',right_on='people' )

                                      people       role  Person_ID
0                      amelia k. kalogerakis      Owner          0
1                          eva k. cleraderas      Owner          1
2                          steve kalogerakis      Owner          2
3                                       haca  Purchaser          3
4             charles r. stinnette co., inc.      Owner          4
5                                       haca  Purchaser          3
6                             william i. lee      Owner          5
7                              zyphin j. lee      Owner          6
8                             h. kenneth lee      Owner          7
9                             frances w. lee      Owner          8
10                                      haca  Purchaser          3
11                   thelma smathers johnson      Owner          9
12                elizabeth pauline smathers      Owner         10
13                                      haca  Purchaser          3
14    harry's cadillac-pontiac company, inc.      Owner         11
15                                      haca  Purchaser          3
16                             max e. wilson      Owner         12
17                           flora j. wilson      Owner         13
18                             j. d. medling      Owner         14
19                                      haca  Purchaser          3
20               grayson huntzberger fleming      Owner         15
21                      peggy evelyn fleming      Owner         16
22                                      haca  Purchaser          3
23                       luther earl mccurry      Owner         17
24                         maxine s. mccurry      Owner         18
25                                      haca  Purchaser          3
26                         william j. reeves      Owner         19
27                         mildred p. reeves      Owner         20
28                                      haca  Purchaser          3
29                      millco, incorporated      Owner         21
...                                      ...        ...        ...
1268                          perle t. cliff      Owner        724
1269                         horace a. cliff      Owner        725
1270                   lora lee morris cliff      Owner        726
1271                        charles j. cliff      Owner        727
1272                       betty young cliff      Owner        728
1273                     louise cliff cruise      Owner        729
1274                            r. r. cruise      Owner        730
1275                 ruth mary cliff helfand      Owner        731
1276                           w. t. helfand      Owner        732
1277                                    haca  Purchaser          3
1278                           max e. wilson      Owner         12
1279                         flora j. wilson      Owner         13
1280                                    haca  Purchaser          3
1281                         charles g. buck      Owner        356
1282                         nell p. garrett      Owner        357
1283                                    haca  Purchaser          3
1284                            fred barnard      Owner        733
1285                         roselyn barnard      Owner        734
1286                                    haca  Purchaser          3
1287                                       -          -         57
1288                    myrdirth owen howell      Owner        735
1289                                    haca  Purchaser          3
1290                    myrdirth owen howell      Owner        735
1291                                    haca  Purchaser          3
1292                       zipporah nicholas      Owner        736
1293                                    haca  Purchaser          3
1294                       zipporah nicholas      Owner        736
1295                                    haca  Purchaser          3
1296                       zipporah nicholas      Owner        736
1297                                    haca  Purchaser          3

[1298 rows x 3 columns]

   Event_ID  Person_ID                 People
0         0          0  bessie s. kalogerakis
1         1          1  amelia k. kalogerakis
2         2          2      eva k. cleraderas
3         3          3      steve kalogerakis
4         4          4          w.s. harrison

                           people       role
0           amelia k. kalogerakis      Owner
1               eva k. cleraderas      Owner
2               steve kalogerakis      Owner
4                            haca  Purchaser
5  charles r. stinnette co., inc.      Owner

In [75]:
types=['Previous Transfer of Deed','Final Transfer of Deed','Appraisal','Offer Made', 'Decision', 'Award','Tenant','End of Case']

In [76]:
event_types=pd.DataFrame({'Type':types})

In [77]:
event_types.head()

                        Type
0  Previous Transfer of Deed
1     Final Transfer of Deed
2                  Appraisal
3                 Offer Made
4                   Decision

In [78]:
event_types.insert(0, 'ID', range(0,0+len(event_types)))

In [79]:
event_types.to_csv('Event_Types.csv')

In [80]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/1972,46000,-,-,-,-,-,7/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/1974

In [81]:
previous_events=copy[['Parcel #','Previous Transfer of deed Event Date','Previous Transfer of deed People Involved','Previous Transfer of deed Role']]

In [82]:
previous_events

,Parcel #,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role
0,2,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir
1,3,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser
2,4,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir
3,5,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir
4,6,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser
5,7,4/3/1964,Z. K. Morgan\nShirley P. Morgan\nJ. D. Medling...,Owner\n\n\n\n\nPurchaser
6,8,8/22/1958,Z. K. Morgan\nShirley P. Morgan\nJ. D. Medling...,Owner\n\n\n\n\nPurchaser
7,9,1/6/1955,K. F. Wentz\nTennie D. Clark\nHerman Clark\nMa...,Owner\n\n\n\n\n\n\n\n\n\n\n\n\nPurchaser
8,10,5/10/1960,Z. K. Morgan\nShirley P. Morgan\nJ. D. Medling...,Owner\n\n\n\n\n\nPurchaser
9,11,12/31/1968,"The Miller Printing Co. \n\nMillco, Incorporated",Owner\n\nPurchaser
10,12,05/12/1921\n\n07/11/1959,S.B Patterson\n\nHayward Powers\nJane Moore Po...,Owner\n\nOwner\n\n\nPurchaser
11,13,8/21/1961,Hayward Powers\nJane Moore Powers\n\nCharles M...,Owner\n\n\n\nPurchaser
12,13A,8/22/1961,Hayward Powers\nJane Moore Powers\n\nCharles M...,Owner\n\n\n\nPurchaser
13,14,1/6/1967,William P. Shuford\n\nJohn F. Shuford\nWachovi...,Owner\n\nHeir\nTrustees
14,15,11/7/1961,Dora Kilpatrick\nW.B. Kilpatrick\n\nRudolph Gay,Owner\n\nPurchaser
15,16,10/26/1951,Cora J. Shuford\n\nMary McCorkle,Owner\n\nPurchaser
16,17,5/11/1956,Guy Weaver\n\nAda J. Barnard,Owner\n\nPurchaser
17,18,1/11/1955,S.M. White\n\nHerman Fleming\nLaura Fleming,Owner\n\nPurchaser
18,19,11/1/1966,W.R. Clements\nMary S. Clements\n\nGenuine Par...,Owner\n\nPurchaser
19,20,12/3/1967,Hugh A. Messer\n\nMildred L. Messer,Owner\n\nPurchaser
20,21,12/20/1966,T. Carlisle Smith\n\nHilda B. Smith\nFirst Uni...,Owner\n\nHeir\nTrustees
21,22,10/26/1949,W.P. Shuford\n\nEarnst Cannon\nParrylee Cannon,Owner\n\n\nPurchaser
22,24,08/15/1914\n\n06/13/1915,Thomas R. Tweed\n\nH.B. Ray\n\nJoseph Dodd\nGe...,Owner\n\n\nPurchaser
23,25,12/5/1938,R.E. Shuford\nMary Emma Shuford\n\nCora J. Shu...,Owner\n\n\nHeir
24,27,5/31/1949,Jessie Pasley\n\nWillie Watson\nMamie Watson,Owner\n\nPurchaser
25,28,5/15/1899\n\n1/15/40,S. Hirsh\nAmelia Hirsh\n\nH. E. Thompson\n----...,Trustee\n\nPurchaser
26,29,11/14/21\n------------\n12/6/21,Mary Davis\n\nF. M. Stevens\n-----------------...,Owner\n\nPurchaser\n-------------\nOwner\n\nPu...
27,30,6/14/1909,Robert b. Glenn\nJoanna Glenn\n\nLeah Clark,Owner\n\nPurchaser
28,31,11/27/1946,Warren J. Clark\n\nMazie Williams,Owner\n\nPurchaser
29,32,8/3/1950,John Powers\nMaggie Powers\nPauline Johnson\nB...,Heirs\n\nPurchaser
...,...,...,...,...
525,2,5/22/1959,F.H. Harris and Jean Wesver Harris\n\nF.H. Har...,Owner \n\nPurchaser
526,18,8/5/1907,Jacob Gilbert\nBetsy Gilbert\n\nW.E. Logan,Owner\n\n\nPurchaser
527,19,08/__/1927,Harry L. Nettles\nMargaret G. Nettles\n\nSouth...,Owner\n\n\nPurchaser
528,24,02/03/1962\n02/21/1962,Cordell Y. Jenkins\nMargaret M. Marjorie S. Je...,Owner\nPurchaser
529,23,3/8/1950,Clara Josephine Lee\nWilliam N. Lee\nWilla Mae...,Owner\n\n\n\nPurchaser
530,16,7/27/1944,Louis Gallego\nAgnes Gallego\n\n\nRoy Booker \...,Owner\n\n\n\n\nPurchaser
531,13,12/10/1959,Barney Brown\n\n\nElizabeth Whitson,Owner\n\n\nPurchaser
532,12,8/9/1939,Home Owner's Loan Corp Of Washington D.C. \n\n...,Owner \n\nPurchaser
533,15B,5/2/1955,R.D Burgin\n\nIra I. Angel\nLessie K. Angel,Owner\n\nPurchaser
534,8,5/4/1937,Marie G. Wehry\n\nArthur A. York and Virginia ...,Owner\n\nPurchaser
535,40,12/13/1954,Claudia Jenkins\n\nHenry Maddox\nManor Lee Maddox,Owner\n\nHeir
536,41,2/17/1916,J. O. Whitted\nGertrude Whitted\n\nFire Baptis...,Owner\n\n\nPurchaser
537,6,5/20/1941,Christine Ray\n\nW. M. Stowers\nNena Stowers,Owner\n\nPurchaser
538,9,8/31/1956,Bismark Williams Jr.\nCoretta Williams\n\nBird...,Owner\n\n\nPurchaser
539,10,9/5/1945,Anna Shuford Moore\nMeredith Moore\n\nJosh Col...,Owner\n\n\n\nPurchaser
540,11,12/3/1954,Stanton Golden\nBetty P. Golden\n\nErvin Gardn...,Owner\n\n\nPurchaser
541,6,1/4/1966,"W. T. Duckworth, Jr., Homer W. Brooks\nThomas ...",Owner\n\n\n\n\nPurchaser
542,9,2/7/1964,Mamie Machen\n\nJames Edward King,Owner\n\nPurchaser
543,21,12/13/1954,H.G. Cliff\n\nJulia Cliff Morris\nLouise Cliff...,Owner\n\nHeirs
544,22,1/19/1965,First Union National Bank\nD. B. McKenzie\n\nJ...,Trustee\n\nOwner?\n\nPurchaser
545,9,11/22/1960,H. E. Garrett\n\nCharles G. Buck\nNell P. Garrett,Owner\n\nTrustee
546,1,3/5/1965,Estelle B. Smith\n\nFred Barnette,Owner\n\nPurchaser
547,5,9/25/1959,Marguerita W. Thompson\n\nW.T. Conley\nMary Lo...,Owner \n\nPurchaser
549,8,8/25/1945,E Zaph Ray\nMary Carr\n\nAugust J Erickson\nMa...,Owner\n\npurchaser
550,21,12/13/1960,Claude Marion Creasman\n\nMyrdirth Owen,owner\n\npurchaser
551,21,12/13/1960,Claude Marion Creasman\n\nMyrdirth Owen,owner\n\npurchaser
552,21,12/13/1960,Claude Marion Creasman\n\nMyrdirth Owen,Owner \n\nPurchaser
553,38,11/13/1962,Sandra Olivia Nicholas\n\nZipporah L. Nicholas,Owner\n\nPurchaser
554,38,11/14/1962,Sandra Olivia Nicholas\n\nZipporah L. Nicholas,Owner\n\nPurchaser
555,38,11/14/1962,Sandra Olivia Nicholas\n\nZipporah L. Nicholas,Owner \n\nPurchaser

In [83]:
def splitRowPreviousEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Previous Transfer of deed Event Date']
        parcel=row['Parcel #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Previous Transfer of deed People Involved']):
            data = row['Previous Transfer of deed People Involved'].split('\n')
            roles=str(row['Previous Transfer of deed Role']).split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            if('Heir' in roles):
                norm2='Heir'
            for d in range(len(data)):
                newrow = row
                newrow['Previous Transfer of deed People Involved'] = data[d]
                newrow['Previous Transfer of deed Event Date']= date
                newrow['Parcel #']=parcel
                if data[d]!='':
                    newrow['Previous Transfer of deed Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [84]:
prev_events=splitRowPreviousEvents(previous_events)

In [85]:
prev_events['Previous Transfer of deed People Involved'].replace('', np.nan, inplace=True)

In [86]:
prev_events=prev_events.dropna()

In [87]:
prev_events.insert(0, 'Event_Type', 0)

In [88]:
prev_events

,Event_Type,Parcel #,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role
0,0,2,-,Bessie S. Kalogerakis,Owner
2,0,2,-,Amelia K. Kalogerakis,Heir
3,0,2,-,Eva K. Cleraderas,Heir
4,0,2,-,Steve Kalogerakis,Heir
5,0,3,8/1/1967,W.S. Harrison,Owner
6,0,3,8/1/1967,Beulah L. Harrison,Owner
8,0,3,8/1/1967,"Charles R. Stinnette Co., Inc.",Purchaser
9,0,4,4/4/1940,"Charles G. Lee, Sr.",Owner
11,0,4,4/4/1940,"Charles G. Lee, Jr.",Heir
12,0,4,4/4/1940,H. Keneth Lee,Heir
13,0,5,4/28/1934,John E. Smathers,Owner
14,0,5,4/28/1934,Etta C. Smathers,Owner
16,0,5,4/28/1934,Thelma Smathers Johnson,Heir
17,0,6,12/24/1964,C.A. Yarbrough,Owner
18,0,6,12/24/1964,Sarah M Yarbrough,Owner
20,0,6,12/24/1964,"Harry's Cadillac-Pontiac Company, Inc.",Purchaser
21,0,7,4/3/1964,Z. K. Morgan,Owner
22,0,7,4/3/1964,Shirley P. Morgan,Owner
23,0,7,4/3/1964,J. D. Medling,Owner
24,0,7,4/3/1964,Leila P. Medling,Owner
26,0,7,4/3/1964,Max E. Wilson,Purchaser
27,0,7,4/3/1964,Flora J. Wilson,Purchaser
28,0,8,8/22/1958,Z. K. Morgan,Owner
29,0,8,8/22/1958,Shirley P. Morgan,Owner
30,0,8,8/22/1958,J. D. Medling,Owner
31,0,8,8/22/1958,Leila P. Medling,Owner
33,0,8,8/22/1958,Grayson Huntzberger Fleming,Purchaser
34,0,8,8/22/1958,Peggy Evelyn Fleming,Purchaser
35,0,9,1/6/1955,K. F. Wentz,Owner
36,0,9,1/6/1955,Tennie D. Clark,Owner
...,...,...,...,...,...
2290,0,21,12/13/1954,Louise Cliff Crews,Purchaser
2291,0,22,1/19/1965,First Union National Bank,Owner
2292,0,22,1/19/1965,D. B. McKenzie,Owner
2294,0,22,1/19/1965,"J.G. Stike-leather, Jr.",Purchaser
2295,0,22,1/19/1965,Dorothy Stike-leather,Purchaser
2297,0,22,1/19/1965,Max E. Wilson,Owner
2298,0,9,11/22/1960,H. E. Garrett,Owner
2300,0,9,11/22/1960,Charles G. Buck,Purchaser
2301,0,9,11/22/1960,Nell P. Garrett,Purchaser
2302,0,1,3/5/1965,Estelle B. Smith,Owner
2304,0,1,3/5/1965,Fred Barnette,Purchaser
2305,0,5,9/25/1959,Marguerita W. Thompson,Owner
2307,0,5,9/25/1959,W.T. Conley,Purchaser
2308,0,5,9/25/1959,Mary Lou Conley,Purchaser
2309,0,8,8/25/1945,E Zaph Ray,Owner
2310,0,8,8/25/1945,Mary Carr,Owner
2312,0,8,8/25/1945,August J Erickson,Purchaser
2313,0,8,8/25/1945,Mary L Erickson,Purchaser
2314,0,21,12/13/1960,Claude Marion Creasman,Owner
2316,0,21,12/13/1960,Myrdirth Owen,Purchaser
2317,0,21,12/13/1960,Claude Marion Creasman,Owner
2319,0,21,12/13/1960,Myrdirth Owen,Purchaser
2320,0,21,12/13/1960,Claude Marion Creasman,Owner
2322,0,21,12/13/1960,Myrdirth Owen,Purchaser
2323,0,38,11/13/1962,Sandra Olivia Nicholas,Owner
2325,0,38,11/13/1962,Zipporah L. Nicholas,Purchaser
2326,0,38,11/14/1962,Sandra Olivia Nicholas,Owner
2328,0,38,11/14/1962,Zipporah L. Nicholas,Purchaser
2329,0,38,11/14/1962,Sandra Olivia Nicholas,Owner
2331,0,38,11/14/1962,Zipporah L. Nicholas,Purchaser

In [89]:
final_events=copy[['Parcel #','Final Transfer of Deed Event Date','Final Transfer of Deed Amount Money','Final Transfer of Deed People Involved','Final Transfer of Deed Role']]

In [90]:
final_events.head()

,Parcel #,Final Transfer of Deed Event Date,Final Transfer of Deed Amount Money,Final Transfer of Deed People Involved,Final Transfer of Deed Role
0,2,6/6/1969,8500,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...,Owner\n\n\n\n\n\n\n\nPurchaser
1,3,6/17/1971,21600,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,4,7/13/1972,46000,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,5,5/29/1974,8000,Thelma Smathers Johnson\n\nHACA,Owner\n\nPurchaser
4,6,10/9/1974,40000,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser

In [91]:
def splitRowFinalEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Final Transfer of Deed Event Date']
        money=row['Final Transfer of Deed Amount Money']
        parcel=row['Parcel #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Final Transfer of Deed People Involved']):
            data = row['Final Transfer of Deed People Involved'].split('\n')
            roles=str(row['Final Transfer of Deed Role']).split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            if('Heir' in roles):
                norm='Heir'
                norm_prev='Heir'
            for d in range(len(data)):
                newrow = row
                newrow['Final Transfer of Deed People Involved'] = data[d]
                newrow['Final Transfer of Deed Event Date']= date
                newrow['Final Transfer of Deed Amount Money']=money
                newrow['Parcel #']=parcel
                if data[d]!='':
                    newrow['Final Transfer of Deed Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [92]:
final_events=splitRowFinalEvents(final_events)

In [93]:
final_events['Final Transfer of Deed People Involved'].replace('', np.nan, inplace=True)

In [94]:
final_events=final_events.dropna()

In [95]:
final_events.insert(0, 'Event_Type', 1)

In [96]:
final_events

,Event_Type,Parcel #,Final Transfer of Deed Event Date,Final Transfer of Deed Amount Money,Final Transfer of Deed People Involved,Final Transfer of Deed Role
0,1,2,6/6/1969,8500,Eva K. Cledaras,Owner
1,1,2,6/6/1969,8500,George M. Cledaras,Owner
2,1,2,6/6/1969,8500,Steve Kalogerakis,Owner
3,1,2,6/6/1969,8500,Shirley Kalogerakis,Owner
4,1,2,6/6/1969,8500,Amelia K. Candler,Owner
5,1,2,6/6/1969,8500,James E. Candler,Owner
6,1,2,6/6/1969,8500,Executrix of the Est. of Bessie Kalogerakis,Owner
8,1,2,6/6/1969,8500,HACA,Purchaser
9,1,3,6/17/1971,21600,"Charles R. Stinnette Co., Inc.",Owner
11,1,3,6/17/1971,21600,HACA,Purchaser
12,1,4,7/13/1972,46000,Willian I. Lee,Owner
13,1,4,7/13/1972,46000,Zyphin J. Lee,Owner
14,1,4,7/13/1972,46000,H. Kenneth Lee,Owner
15,1,4,7/13/1972,46000,Frances W. Lee,Owner
17,1,4,7/13/1972,46000,HACA,Purchaser
18,1,5,5/29/1974,8000,Thelma Smathers Johnson,Owner
20,1,5,5/29/1974,8000,HACA,Purchaser
21,1,6,10/9/1974,40000,"Harry's Cadillac-Pontiac Company, Inc.",Owner
23,1,6,10/9/1974,40000,HACA,Purchaser
25,1,7,4/12/1976,60000,Max E. Wilson,Owner
26,1,7,4/12/1976,60000,Flora J. Wilson,Owner
27,1,7,4/12/1976,60000,J. D. Medling,Owner
29,1,7,4/12/1976,60000,HACA,Purchaser
30,1,8,12/9/1969,10500,Grayson Huntzberger Fleming,Owner
31,1,8,12/9/1969,10500,Peggy Evelyn Fleming,Owner
33,1,8,12/9/1969,10500,HACA,Purchaser
34,1,9,9/26/1969,8300,Luther Earl McCurry,Owner
35,1,9,9/26/1969,8300,Maxine S. McCurry,Owner
37,1,9,9/26/1969,8300,HACA,Purchaser
38,1,10,3/30/1976,35000,William J. Reeves,Owner
...,...,...,...,...,...,...
1940,1,21,7/8/1969,8500,HACA,Purchaser
1941,1,22,4/12/1976,11300,Max E. Wilson,Owner
1942,1,22,4/12/1976,11300,Flora J. Wilson,Owner
1944,1,22,4/12/1976,11300,HACA,Purchaser
1945,1,9,6/19/1969,5000,Charles G. Buck,Owner
1946,1,9,6/19/1969,5000,Nell P. Garrett,Owner
1948,1,9,6/19/1969,5000,HACA,Purchaser
1949,1,1,5/8/1970,5000,Fred Barnard,Owner
1950,1,1,5/8/1970,5000,Roselyn Barnard,Owner
1952,1,1,5/8/1970,5000,HACA,Purchaser
1953,1,5,6/7/1976,9000,Jessie Williams,Owner
1954,1,5,6/7/1976,9000,Romaine Williams,Owner
1956,1,5,6/7/1976,9000,HACA,Purchaser
1957,1,8,7/17/1969,4650,Mary Lewis Erickson,Owner
1958,1,8,7/17/1969,4650,Redevelopment Commission of the City of Ashville,Owner
1959,1,21,11/21/1972,4650,Myrdirth Owen Howell,Owner
1960,1,21,11/21/1972,4650,Robert Howell,Owner
1962,1,21,11/21/1972,4650,HACA,Purchaser
1963,1,21,11/21/1972,4800,Myrdirth Owen Howell,Owner
1964,1,21,11/21/1972,4800,Robert Howell,Owner
1966,1,21,11/21/1972,4800,HACA,Purchaser
1967,1,21,11/21/1972,4800,Myrdirth Owen Howell,Owner
1968,1,21,11/21/1972,4800,Robert Howell,Owner
1970,1,21,11/21/1972,4800,HACA,Purchaser
1971,1,38,6/7/1976,17150,Zipporah Nicholas,Owner
1973,1,38,6/7/1976,17150,HACA,Purchaser
1974,1,38,6/18/1976,17150,Zipporah Nicholas,Owner
1976,1,38,6/18/1976,17150,HACA,Purchaser
1977,1,38,6/18/1976,17150,Zipporah Nicholas,Owner
1979,1,38,6/18/1976,17150,HACA,Purchaser

In [97]:
appraisel=copy[['Parcel #','Appraiser Name','Appraiser Event Date','Appraiser Amount Money']]

In [98]:
appraisel.head()

,Parcel #,Appraiser Name,Appraiser Event Date,Appraiser Amount Money
0,2,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/31/1968\n11/09/1968,6250\n7000\n9300
1,3,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/12/1968\n11/02/1968,16400\n15000\n14000
2,4,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/15/1968\n11/02/1968,27000\n35000\n35500
3,5,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/16/1968\n10/22/1968,7250\n8000\n6600
4,6,Edward Sale\nR. Moore\nH.E. Johnson,04/14/1974\n08/09/1974\n03/04/1974,43706\n40000\n38500

In [99]:
exceptionList=[]
def splitRowAppraise(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        parcel=row['Parcel #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Appraiser Name']):
            data = row['Appraiser Name'].split('\n')
            dates=str(row['Appraiser Event Date']).split('\n')
            money=str(row['Appraiser Amount Money']).split('\n')
            placeholder=0
            try:
                for d in range(len(data)):
                    newrow = row
                    newrow['Appraiser Name'] = data[d]
                    newrow['Appraiser Event Date']= dates[d]
                    if d < len(money):
                        newrow['Appraiser Amount Money']=  money[d]
                        if placeholder!=0:
                            placeholder += 1
                    else:
                        newrow['Appraiser Amount Money']=  money[placeholder]
                    newrow['Parcel #']= parcel                        
                    newframe.loc[size]=newrow
                    size+=1
            except:
                exceptionList.append(row) 
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [100]:
splitRowAppraise(appraisel)

     Parcel #      Appraiser Name Appraiser Event Date Appraiser Amount Money
0           2   Clyde G. Idol Jr.           09/15/1965                   6250
1           2    Alan Butterworth           07/31/1968                   7000
2           2        H.E. Johnson           11/09/1968                   9300
3           3   Clyde G. Idol Jr.           09/15/1965                  16400
4           3    Alan Butterworth           07/12/1968                  15000
5           3        H.E. Johnson           11/02/1968                  14000
6           4   Clyde G. Idol Jr.           09/15/1965                  27000
7           4    Alan Butterworth           07/15/1968                  35000
8           4        H.E. Johnson           11/02/1968                  35500
9           5   Clyde G. Idol Jr.           09/15/1965                   7250
10          5    Alan Butterworth           07/16/1968                   8000
11          5        H.E. Johnson           10/22/1968                   6600
12          6         Edward Sale           04/14/1974                  43706
13          6            R. Moore           08/09/1974                  40000
14          6        H.E. Johnson           03/04/1974                  38500
15          7         Edward Sale           08/05/1974                  59150
16          7            R. Moore           09/18/1974                  59150
17          7        H.E. Johnson           04/23/1974                  57500
18          8   Clyde G. Idol Jr.           09/15/1965                  10500
19          8    Alan Butterworth           07/25/1968                  10000
20          8        H.E. Johnson           10/05/1968                   8900
21          9   Clyde G. Idol Jr.           09/15/1965                   7800
22          9    Alan Butterworth           07/17/1968                   8300
23          9        H.E. Johnson           10/01/1968                   9600
24         10         Edward Sale           04/14/1974                  28800
25         10            R. Moore           06/12/1974                  28800
26         10        H.E. Johnson           02/28/1974                  27500
27         11   Clyde G. Idol Jr.           09/15/1965                   6300
28         11    Alan Butterworth           01/12/1967                   7000
29         11        H.E. Johnson           10/01/1968                   8800
...       ...                 ...                  ...                    ...
1526        5    Alan Butterworth            9/22/1966                   6500
1527        5        H.E. Johnson            7/26/1968                   6700
1528        5    Charles Bradshaw            9/15/1965                   5400
1529        8    Alan Butterworth             8/6/1968                   7500
1530        8         W. Bramlett           10/18/1968                   4650
1531        8         C. Bradshaw            6/20/1966                   4650
1532       21   Wayne N. Bramlett            2/16/1972                   4800
1533       21    Alan Butterworth            5/15/1968                   4800
1534       21       Chas Bradshaw            9/15/1965                   3900
1535       21      Wayne Bramlett           02/16/1972                   4800
1536       21    Alan Butterworth           05/15/1968                   4800
1537       21  Clyde G. Idol, Jr.           09/15/1965                   3900
1538       21   Wayne N. Bramlett           02/16/1972                   4800
1539       21    Alan Butterworth           05/15/1968                   4800
1540       21  Clyde G. Idol, Jr.           09/15/1965                   3900
1541       38      Wayne Bramlett            9/26/1968                  10500
1542       38    Alan Butterworth           10/13/1966                  10500
1543       38        Clyde G Idol            9/15/1965                   9500
1544       38              Naeger             3/5/1975                  16000
1545       38        H.E. Johnson             3/5/1975                  14800
1546       38        H.E. Johnson           03/05/1975                  14800
1547       38      Wayne Bramlett           09/26/1968                  10500
1548       38    Alan Butterworth           10/13/1966                  10500
1549       38  Clyde G. Idol, Jr.           09/15/1965                   9500
1550       38      Francis Naeger           03/05/1975                  16000
1551       38        H.E. Johnson           03/05/1975                  14800
1552       38      Wayne Bramlett           09/26/1968                  10500
1553       38    Alan Butterworth           10/13/1966                  10500
1554       38  Clyde G. Idol, Jr.           09/15/1965                   9500
1555       38      Francis Naeger           03/05/1975                  16000

[1556 rows x 4 columns]

In [101]:
appraisel.insert(0, 'Event_Type', 2)

In [102]:
exceptionList

[Parcel #                                 17
 Appraiser Name            Clyde G. Idol Jr.
 Appraiser Event Date                2/13/73
 Appraiser Amount Money                 6350
 Name: 368, dtype: object, Parcel #                           7
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          1800
 Name: 503, dtype: object, Parcel #                         13
 Appraiser Name
 Appraiser Event Date      9/15/1965
 Appraiser Amount Money         5550
 Name: 504, dtype: object, Parcel #                          49
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          1350
 Name: 510, dtype: object, Parcel #                           2
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          4400
 Name: 512, dtype: object, Parcel #                          24
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          9000
 Name: 528, dtype: object, Parcel #                          23
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          7850
 Name: 529, dtype: object, Parcel #                         16
 Appraiser Name
 Appraiser Event Date      9/15/1965
 Appraiser Amount Money         6250
 Name: 530, dtype: object, Parcel #                         15B
 Appraiser Name
 Appraiser Event Date      06/12/1974
 Appraiser Amount Money          1220
 Name: 533, dtype: object, Parcel #                           8
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          8100
 Name: 534, dtype: object, Parcel #                          40
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          6500
 Name: 535, dtype: object, Parcel #                          8
 Appraiser Name
 Appraiser Event Date      6/20/1966
 Appraiser Amount Money         4650
 Name: 549, dtype: object]

In [103]:
offerMade=copy[['Parcel #','Offer Made Amount Money','Offer Made People Involved','Offer Made Event Date','Offer Made Role']]

In [104]:
offerMade.head()

,Parcel #,Offer Made Amount Money,Offer Made People Involved,Offer Made Event Date,Offer Made Role
0,2,8500,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,3/14/1969,Owner\n\n\nPurchaser
1,3,15000,"Charles R. Stinnette Co., Inc.\n\nHACA",8/6/1969,Owner\n\nPurchaser
2,4,35500,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,6/17/1970,Owner\n\n\n\nPurchaser
3,5,8000,Thelma Smathers Johnson\nElizabeth Pauline Sma...,11/17/1969\n05/07/1974,Owner\n\n\nPurchaser
4,6,40000,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",8/16/1974,Owner\n\nPurchaser

In [105]:
def splitRowOfferMade(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Offer Made Event Date']
        parcel=row['Parcel #']
        money=row['Offer Made Amount Money']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Offer Made People Involved']):
            data = row['Offer Made People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Offer Made People Involved'] = data[d]
                newrow['Offer Made Event Date']= date
                newrow['Parcel #']=parcel
                newrow['Offer Made Amount Money']=money
                if data[d]!='':
                    newrow['Offer Made Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [106]:
offerMade=splitRowOfferMade(offerMade)
##there is an extra newline at the begining that messes up the first row

In [107]:
offerMade['Offer Made People Involved'].replace('', np.nan, inplace=True)

In [108]:
offerMade=offerMade.dropna()

In [109]:
offerMade.insert(0, 'Event_Type', 3)

In [110]:
offerMade.head()

,Event_Type,Parcel #,Offer Made Amount Money,Offer Made People Involved,Offer Made Event Date,Offer Made Role
0,3,2,8500,Amelia K. Kalogerakis,3/14/1969,Owner
1,3,2,8500,Eva K. Cleraderas,3/14/1969,Owner
2,3,2,8500,Steve Kalogerakis,3/14/1969,Owner
4,3,2,8500,HACA,3/14/1969,Purchaser
5,3,3,15000,"Charles R. Stinnette Co., Inc.",8/6/1969,Owner

In [111]:
decision=copy[['Parcel #','Decision Event Date','Decision Amount Money','Decision Response','Decision People Involved','Decision Role']]

In [112]:
decision.head()

,Parcel #,Decision Event Date,Decision Amount Money,Decision Response,Decision People Involved,Decision Role
0,2,3/14/1969,8500,Accepted,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser
1,3,8/6/1969,15000,Rejected,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,4,6/17/1970,35500,Rejected,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,5,5/8/1974,8000,Accepted,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser
4,6,9/23/1974,40000,Accepted,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser

In [113]:
def splitRowDecision(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Decision Event Date']
        parcel=row['Parcel #']
        money=row['Decision Amount Money']
        response=row['Decision Response']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = data[d]
                newrow['Decision Event Date']= date
                newrow['Parcel #']=parcel
                newrow['Decision Amount Money']=money
                newrow['Decision Response']=response
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [114]:
decision=splitRowDecision(decision)

In [115]:
decision['Decision People Involved'].replace('', np.nan, inplace=True)

In [116]:
decision=decision.dropna()

In [117]:
decision.head()

,Parcel #,Decision Event Date,Decision Amount Money,Decision Response,Decision People Involved,Decision Role
0,2,3/14/1969,8500,Accepted,Amelia K. Kalogerakis,Owner
1,2,3/14/1969,8500,Accepted,Eva K. Cleraderas,Owner
2,2,3/14/1969,8500,Accepted,Steve Kalogerakis,Owner
4,2,3/14/1969,8500,Accepted,HACA,Purchaser
5,3,8/6/1969,15000,Rejected,"Charles R. Stinnette Co., Inc.",Owner

In [118]:
decision.insert(0,'Event_Type',4)

In [119]:
award=copy[['Parcel #','Award Date','Award Amount Money']]

In [120]:
award.head()

  Parcel # Award Date Award Amount Money
0        2          -                  -
1        3  7/16/1971              21600
2        4  8/17/1972              46000
3        5          -                  -
4        6          -                  -

In [121]:
award.insert(0,'Event_Type',5)

In [122]:
award.head()

   Event_Type Parcel # Award Date Award Amount Money
0           5        2          -                  -
1           5        3  7/16/1971              21600
2           5        4  8/17/1972              46000
3           5        5          -                  -
4           5        6          -                  -

In [123]:
copy.columns.values

array(['Block #', 'Parcel #', 'Ward #', 'Box #', 'Street number',
       'Street address', 'Land use',
       'Previous Transfer of deed Event Date',
       'Previous Transfer of deed People Involved',
       'Previous Transfer of deed Role',
       'Final Transfer of Deed Event Date',
       'Final Transfer of Deed Amount Money',
       'Final Transfer of Deed People Involved',
       'Final Transfer of Deed Role', 'Appraiser Name',
       'Appraiser Event Date', 'Appraiser Amount Money',
       'Offer Made Event Date', 'Offer Made Amount Money',
       'Offer Made People Involved', 'Offer Made Role',
       'Decision Event Date', 'Decision Amount Money', 'Decision Response',
       'Decision People Involved', 'Decision Role', 'Award Date',
       'Award Amount Money', 'Tenant Vacated Date',
       'Tenant Agreement Date', 'Tenant Cost', 'Tenant Name',
       'Previous owner\nor\nTenant', 'End of Case Finalized Date'], dtype=object)

In [124]:
tenant=copy[['Parcel #','Tenant Vacated Date','Tenant Agreement Date','Tenant Cost','Tenant Name','Previous owner\nor\nTenant']]

In [125]:
tenant.head()

,Parcel #,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant
0,2,-,-,-,-,-
1,3,-,-,-,-,-
2,4,-,-,-,-,-
3,5,-,-,-,-,-
4,6,-,-,-,-,-

In [126]:
tenant.insert(0,'Event_Type',6)

In [127]:
tenant.head()

,Event_Type,Parcel #,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant
0,6,2,-,-,-,-,-
1,6,3,-,-,-,-,-
2,6,4,-,-,-,-,-
3,6,5,-,-,-,-,-
4,6,6,-,-,-,-,-

In [128]:
endCase=copy[['Parcel #','End of Case Finalized Date']]

In [129]:
endCase.head()

  Parcel # End of Case Finalized Date
0        2                   6/6/1969
1        3                  06/171971
2        4                  7/13/1972
3        5                  5/29/1974
4        6                  10/9/1974

In [130]:
endCase.insert(0,'Event_Type',7)

In [131]:
endCase.head()

   Event_Type Parcel # End of Case Finalized Date
0           7        2                   6/6/1969
1           7        3                  06/171971
2           7        4                  7/13/1972
3           7        5                  5/29/1974
4           7        6                  10/9/1974

In [132]:
events_table=pd.concat([prev_events,final_events,appraisel,offerMade,decision,award,tenant, endCase])

In [133]:
events_table.insert(0, 'Event_ID', range(0,0+len(events_table)))

In [134]:
events_table.head()

,Event_ID,Appraiser Amount Money,Appraiser Event Date,Appraiser Name,Award Amount Money,Award Date,Decision Amount Money,Decision Event Date,Decision People Involved,Decision Response,...,Offer Made Role,Parcel #,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,Previous owner or Tenant,Tenant Agreement Date,Tenant Cost,Tenant Name,Tenant Vacated Date
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,-,Bessie S. Kalogerakis,Owner,NaN,NaN,NaN,NaN,NaN
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,-,Amelia K. Kalogerakis,Heir,NaN,NaN,NaN,NaN,NaN
3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,-,Eva K. Cleraderas,Heir,NaN,NaN,NaN,NaN,NaN
4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2,-,Steve Kalogerakis,Heir,NaN,NaN,NaN,NaN,NaN
5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3,8/1/1967,W.S. Harrison,Owner,NaN,NaN,NaN,NaN,NaN

In [135]:
events_table.to_csv('Events.csv')

In [136]:
events_table.columns

Index(['Event_ID', 'Appraiser Amount Money', 'Appraiser Event Date',
       'Appraiser Name', 'Award Amount Money', 'Award Date',
       'Decision Amount Money', 'Decision Event Date',
       'Decision People Involved', 'Decision Response', 'Decision Role',
       'End of Case Finalized Date', 'Event_Type',
       'Final Transfer of Deed Amount Money',
       'Final Transfer of Deed Event Date',
       'Final Transfer of Deed People Involved', 'Final Transfer of Deed Role',
       'Offer Made Amount Money', 'Offer Made Event Date',
       'Offer Made People Involved', 'Offer Made Role', 'Parcel #',
       'Previous Transfer of deed Event Date',
       'Previous Transfer of deed People Involved',
       'Previous Transfer of deed Role', 'Previous owner\nor\nTenant',
       'Tenant Agreement Date', 'Tenant Cost', 'Tenant Name',
       'Tenant Vacated Date'],
      dtype='object')

In [137]:
people_involved=events_table[['Event_ID','Decision People Involved','Decision Role','Final Transfer of Deed People Involved','Final Transfer of Deed Role','Previous Transfer of deed People Involved','Previous Transfer of deed Role']]

In [143]:
offer_ppl=events_table[['Event_ID','Offer Made People Involved', 'Offer Made Role']]
appraisal_ppl=events_table[['Event_ID','Appraiser Name']]

In [144]:
offer_ppl.dropna(thresh=2,inplace=True)
appraisal_ppl.dropna(thresh=2,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [145]:
offer_ppl['Offer Made People Involved']=offer_ppl['Offer Made People Involved'].apply(lambda x: x.lower())
appraisal_ppl['Appraiser Name']=appraisal_ppl['Appraiser Name'].apply(lambda x: x.lower())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [146]:
offer_ppl=offer_ppl.merge(allppl, how='left', left_on='Offer Made People Involved', right_on='people')
appraisal_ppl=appraisal_ppl.merge(allppl, how='left', left_on='Appraiser Name', right_on='people')

In [148]:
offer_ppl.drop('Offer Made People Involved',axis=1,inplace=True)
appraisal_ppl.drop('Appraiser Name',axis=1,inplace=True)

In [149]:
decision_ppl=events_table[['Event_ID','Decision People Involved','Decision Role']]

In [150]:
decision_ppl.dropna(thresh=2,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [151]:
decision_ppl['Decision People Involved']=decision_ppl['Decision People Involved'].apply(lambda x: x.lower())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [152]:
decision_ppl=decision_ppl.merge(allppl, how='left', left_on='Decision People Involved', right_on='people')

In [153]:
decision_ppl.drop('Decision People Involved',axis=1,inplace=True)

In [154]:
final_ppl=people_involved[['Event_ID','Final Transfer of Deed People Involved','Final Transfer of Deed Role']]

In [155]:
final_ppl.dropna(thresh=2,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
final_ppl['Final Transfer of Deed People Involved']=final_ppl['Final Transfer of Deed People Involved'].apply(lambda x: x.lower())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [157]:
final_ppl=final_ppl.merge(allppl, how='left', left_on='Final Transfer of Deed People Involved', right_on='people')

In [158]:
final_ppl

,Event_ID,Final Transfer of Deed People Involved,Final Transfer of Deed Role,Person_ID,people
0,1749,eva k. cledaras,Owner,1787,eva k. cledaras
1,1750,george m. cledaras,Owner,1788,george m. cledaras
2,1751,steve kalogerakis,Owner,2,steve kalogerakis
3,1752,shirley kalogerakis,Owner,1789,shirley kalogerakis
4,1753,amelia k. candler,Owner,1790,amelia k. candler
5,1754,james e. candler,Owner,1791,james e. candler
6,1755,executrix of the est. of bessie kalogerakis,Owner,1792,executrix of the est. of bessie kalogerakis
7,1756,haca,Purchaser,3,haca
8,1757,"charles r. stinnette co., inc.",Owner,4,"charles r. stinnette co., inc."
9,1758,haca,Purchaser,3,haca
10,1759,willian i. lee,Owner,1793,willian i. lee
11,1760,zyphin j. lee,Owner,6,zyphin j. lee
12,1761,h. kenneth lee,Owner,7,h. kenneth lee
13,1762,frances w. lee,Owner,8,frances w. lee
14,1763,haca,Purchaser,3,haca
15,1764,thelma smathers johnson,Owner,9,thelma smathers johnson
16,1765,haca,Purchaser,3,haca
17,1766,"harry's cadillac-pontiac company, inc.",Owner,11,"harry's cadillac-pontiac company, inc."
18,1767,haca,Purchaser,3,haca
19,1768,max e. wilson,Owner,12,max e. wilson
20,1769,flora j. wilson,Owner,13,flora j. wilson
21,1770,j. d. medling,Owner,14,j. d. medling
22,1771,haca,Purchaser,3,haca
23,1772,grayson huntzberger fleming,Owner,15,grayson huntzberger fleming
24,1773,peggy evelyn fleming,Owner,16,peggy evelyn fleming
25,1774,haca,Purchaser,3,haca
26,1775,luther earl mccurry,Owner,17,luther earl mccurry
27,1776,maxine s. mccurry,Owner,18,maxine s. mccurry
28,1777,haca,Purchaser,3,haca
29,1778,william j. reeves,Owner,19,william j. reeves
...,...,...,...,...,...
1365,3114,haca,Purchaser,3,haca
1366,3115,max e. wilson,Owner,12,max e. wilson
1367,3116,flora j. wilson,Owner,13,flora j. wilson
1368,3117,haca,Purchaser,3,haca
1369,3118,charles g. buck,Owner,356,charles g. buck
1370,3119,nell p. garrett,Owner,357,nell p. garrett
1371,3120,haca,Purchaser,3,haca
1372,3121,fred barnard,Owner,733,fred barnard
1373,3122,roselyn barnard,Owner,734,roselyn barnard
1374,3123,haca,Purchaser,3,haca
1375,3124,jessie williams,Owner,1917,jessie williams
1376,3125,romaine williams,Owner,1918,romaine williams
1377,3126,haca,Purchaser,3,haca
1378,3127,mary lewis erickson,Owner,1919,mary lewis erickson
1379,3128,redevelopment commission of the city of ashville,Owner,1920,redevelopment commission of the city of ashville
1380,3129,myrdirth owen howell,Owner,735,myrdirth owen howell
1381,3130,robert howell,Owner,1921,robert howell
1382,3131,haca,Purchaser,3,haca
1383,3132,myrdirth owen howell,Owner,735,myrdirth owen howell
1384,3133,robert howell,Owner,1921,robert howell
1385,3134,haca,Purchaser,3,haca
1386,3135,myrdirth owen howell,Owner,735,myrdirth owen howell
1387,3136,robert howell,Owner,1921,robert howell
1388,3137,haca,Purchaser,3,haca
1389,3138,zipporah nicholas,Owner,736,zipporah nicholas
1390,3139,haca,Purchaser,3,haca
1391,3140,zipporah nicholas,Owner,736,zipporah nicholas
1392,3141,haca,Purchaser,3,haca
1393,3142,zipporah nicholas,Owner,736,zipporah nicholas
1394,3143,haca,Purchaser,3,haca

In [159]:
final_ppl.drop('Final Transfer of Deed People Involved',axis=1,inplace=True)

In [160]:
final_ppl

,Event_ID,Final Transfer of Deed Role,Person_ID,people
0,1749,Owner,1787,eva k. cledaras
1,1750,Owner,1788,george m. cledaras
2,1751,Owner,2,steve kalogerakis
3,1752,Owner,1789,shirley kalogerakis
4,1753,Owner,1790,amelia k. candler
5,1754,Owner,1791,james e. candler
6,1755,Owner,1792,executrix of the est. of bessie kalogerakis
7,1756,Purchaser,3,haca
8,1757,Owner,4,"charles r. stinnette co., inc."
9,1758,Purchaser,3,haca
10,1759,Owner,1793,willian i. lee
11,1760,Owner,6,zyphin j. lee
12,1761,Owner,7,h. kenneth lee
13,1762,Owner,8,frances w. lee
14,1763,Purchaser,3,haca
15,1764,Owner,9,thelma smathers johnson
16,1765,Purchaser,3,haca
17,1766,Owner,11,"harry's cadillac-pontiac company, inc."
18,1767,Purchaser,3,haca
19,1768,Owner,12,max e. wilson
20,1769,Owner,13,flora j. wilson
21,1770,Owner,14,j. d. medling
22,1771,Purchaser,3,haca
23,1772,Owner,15,grayson huntzberger fleming
24,1773,Owner,16,peggy evelyn fleming
25,1774,Purchaser,3,haca
26,1775,Owner,17,luther earl mccurry
27,1776,Owner,18,maxine s. mccurry
28,1777,Purchaser,3,haca
29,1778,Owner,19,william j. reeves
...,...,...,...,...
1365,3114,Purchaser,3,haca
1366,3115,Owner,12,max e. wilson
1367,3116,Owner,13,flora j. wilson
1368,3117,Purchaser,3,haca
1369,3118,Owner,356,charles g. buck
1370,3119,Owner,357,nell p. garrett
1371,3120,Purchaser,3,haca
1372,3121,Owner,733,fred barnard
1373,3122,Owner,734,roselyn barnard
1374,3123,Purchaser,3,haca
1375,3124,Owner,1917,jessie williams
1376,3125,Owner,1918,romaine williams
1377,3126,Purchaser,3,haca
1378,3127,Owner,1919,mary lewis erickson
1379,3128,Owner,1920,redevelopment commission of the city of ashville
1380,3129,Owner,735,myrdirth owen howell
1381,3130,Owner,1921,robert howell
1382,3131,Purchaser,3,haca
1383,3132,Owner,735,myrdirth owen howell
1384,3133,Owner,1921,robert howell
1385,3134,Purchaser,3,haca
1386,3135,Owner,735,myrdirth owen howell
1387,3136,Owner,1921,robert howell
1388,3137,Purchaser,3,haca
1389,3138,Owner,736,zipporah nicholas
1390,3139,Purchaser,3,haca
1391,3140,Owner,736,zipporah nicholas
1392,3141,Purchaser,3,haca
1393,3142,Owner,736,zipporah nicholas
1394,3143,Purchaser,3,haca

In [161]:
prev_ppl=people_involved[['Event_ID','Previous Transfer of deed People Involved','Previous Transfer of deed Role']]

In [162]:
prev_ppl.dropna(thresh=2,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [163]:
prev_ppl['Previous Transfer of deed People Involved']=prev_ppl['Previous Transfer of deed People Involved'].apply(lambda x: x.lower())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [164]:
prev_ppl=prev_ppl.merge(allppl, how='left', left_on='Previous Transfer of deed People Involved', right_on='people')

In [165]:
prev_ppl.drop('Previous Transfer of deed People Involved',axis=1,inplace=True)

In [166]:
prev_ppl=prev_ppl.rename(columns={'Previous Transfer of deed Role':'Role'})
final_ppl=final_ppl.rename(columns={'Final Transfer of Deed Role':'Role'})
decision_ppl=decision_ppl.rename(columns={'Decision Role':'Role'})
offer_ppl=offer_ppl.rename(columns={'Offer Made Role':'Role'})
appraisal_ppl.insert(0,'Role','Appraiser')

In [167]:
event_assc=pd.concat([decision_ppl,final_ppl,prev_ppl,offer_ppl,appraisal_ppl])

In [168]:
event_assc

     Event_ID  Person_ID       Role                                  people
0        4978        0.0      Owner                   amelia k. kalogerakis
1        4979        1.0      Owner                       eva k. cleraderas
2        4980        2.0      Owner                       steve kalogerakis
3        4981        3.0  Purchaser                                    haca
4        4982        4.0      Owner          charles r. stinnette co., inc.
5        4983        3.0  Purchaser                                    haca
6        4984        5.0      Owner                          william i. lee
7        4985        6.0      Owner                           zyphin j. lee
8        4986        7.0      Owner                          h. kenneth lee
9        4987        8.0      Owner                          frances w. lee
10       4988        3.0  Purchaser                                    haca
11       4989        9.0      Owner                 thelma smathers johnson
12       4990       10.0      Owner              elizabeth pauline smathers
13       4991        3.0  Purchaser                                    haca
14       4992       11.0      Owner  harry's cadillac-pontiac company, inc.
15       4993        3.0  Purchaser                                    haca
16       4994       12.0      Owner                           max e. wilson
17       4995       13.0      Owner                         flora j. wilson
18       4996       14.0      Owner                           j. d. medling
19       4997        3.0  Purchaser                                    haca
20       4998       15.0      Owner             grayson huntzberger fleming
21       4999       16.0      Owner                    peggy evelyn fleming
22       5000        3.0  Purchaser                                    haca
23       5001       17.0      Owner                     luther earl mccurry
24       5002       18.0      Owner                       maxine s. mccurry
25       5003        3.0  Purchaser                                    haca
26       5004       19.0      Owner                       william j. reeves
27       5005       20.0      Owner                       mildred p. reeves
28       5006        3.0  Purchaser                                    haca
29       5007       21.0      Owner                    millco, incorporated
..        ...        ...        ...                                     ...
467      3656     1967.0  Appraiser                             c. bradshaw
468      3657     1956.0  Appraiser                     charles w. bradshaw
469      3658     1956.0  Appraiser                     charles w. bradshaw
470      3659        NaN  Appraiser                                     NaN
471      3660        NaN  Appraiser                                     NaN
472      3661        NaN  Appraiser                                     NaN
473      3662     1924.0  Appraiser                            h.e. johnson
474      3663     1970.0  Appraiser                        clyde g idol jr.
475      3664        NaN  Appraiser                                     NaN
476      3665        NaN  Appraiser                                     NaN
477      3666        NaN  Appraiser                                     NaN
478      3667     1955.0  Appraiser                          francis naegar
479      3668     1929.0  Appraiser                           h. e. johnson
480      3669     1922.0  Appraiser                       clyde g. idol jr.
481      3670     1972.0  Appraiser                                   moore
482      3671     1922.0  Appraiser                       clyde g. idol jr.
483      3672     1955.0  Appraiser                          francis naegar
484      3673     1922.0  Appraiser                       clyde g. idol jr.
485      3674     1922.0  Appraiser                       clyde g. idol jr.
486      3675     1922.0  Appraiser                       clyde g. idol jr.
487      3676     1939.0  Appraiser                      clyde g. idol, jr.
488      3677     1939.0  Appraiser                      clyde g. idol, jr.
489      3678     1930.0  Appraiser                        charles bradshaw
490      3679        NaN  Appraiser                                     NaN
491      3680     1976.0  Appraiser                           chas bradshaw
492      3681     1939.0  Appraiser                      clyde g. idol, jr.
493      3682     1939.0  Appraiser                      clyde g. idol, jr.
494      3683     1924.0  Appraiser                            h.e. johnson
495      3684     1927.0  Appraiser                          francis naeger
496      3685     1927.0  Appraiser                          francis naeger

[6224 rows x 4 columns]

In [171]:
event_assc.drop('people',axis=1)

     Event_ID  Person_ID       Role
0        4978        0.0      Owner
1        4979        1.0      Owner
2        4980        2.0      Owner
3        4981        3.0  Purchaser
4        4982        4.0      Owner
5        4983        3.0  Purchaser
6        4984        5.0      Owner
7        4985        6.0      Owner
8        4986        7.0      Owner
9        4987        8.0      Owner
10       4988        3.0  Purchaser
11       4989        9.0      Owner
12       4990       10.0      Owner
13       4991        3.0  Purchaser
14       4992       11.0      Owner
15       4993        3.0  Purchaser
16       4994       12.0      Owner
17       4995       13.0      Owner
18       4996       14.0      Owner
19       4997        3.0  Purchaser
20       4998       15.0      Owner
21       4999       16.0      Owner
22       5000        3.0  Purchaser
23       5001       17.0      Owner
24       5002       18.0      Owner
25       5003        3.0  Purchaser
26       5004       19.0      Owner
27       5005       20.0      Owner
28       5006        3.0  Purchaser
29       5007       21.0      Owner
..        ...        ...        ...
467      3656     1967.0  Appraiser
468      3657     1956.0  Appraiser
469      3658     1956.0  Appraiser
470      3659        NaN  Appraiser
471      3660        NaN  Appraiser
472      3661        NaN  Appraiser
473      3662     1924.0  Appraiser
474      3663     1970.0  Appraiser
475      3664        NaN  Appraiser
476      3665        NaN  Appraiser
477      3666        NaN  Appraiser
478      3667     1955.0  Appraiser
479      3668     1929.0  Appraiser
480      3669     1922.0  Appraiser
481      3670     1972.0  Appraiser
482      3671     1922.0  Appraiser
483      3672     1955.0  Appraiser
484      3673     1922.0  Appraiser
485      3674     1922.0  Appraiser
486      3675     1922.0  Appraiser
487      3676     1939.0  Appraiser
488      3677     1939.0  Appraiser
489      3678     1930.0  Appraiser
490      3679        NaN  Appraiser
491      3680     1976.0  Appraiser
492      3681     1939.0  Appraiser
493      3682     1939.0  Appraiser
494      3683     1924.0  Appraiser
495      3684     1927.0  Appraiser
496      3685     1927.0  Appraiser

[6224 rows x 3 columns]

In [172]:
event_assc.insert(0,'ID',range(0,0+len(event_assc)))

In [174]:
event_assc.to_csv('Event_Association.csv')