In [3]:
import csv
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import re
import math

In [1309]:
df= pd.read_csv('data/transcription.csv')

In [1310]:
df.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/69
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/67,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/71,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/40,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/72,46000,-,-,-,-,-,7/13/72
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,4/28/34,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/74
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/64,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/74

In [1311]:
copy=df
copy.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/69
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/67,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/71,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/40,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/72,46000,-,-,-,-,-,7/13/72
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,4/28/34,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/74
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/64,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/74

In [1312]:
copy.drop(['Transcriber'], axis=1, inplace=True)

In [1313]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/69
1,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/67,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/71,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/40,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/72,46000,-,-,-,-,-,7/13/72
3,1,5,4,56,94,Asheland Ave.,Residential,4/28/34,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/74
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/64,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/74

In [1314]:
copy=copy[copy['Block #'].str.contains("Spring")==False]

In [1315]:
parcels=df[['Block #', 'Parcel #','Ward #','Land use']]

In [1316]:
parcels=parcels[parcels['Block #'].str.contains("Spring")==False]

In [1317]:
parcels=parcels[parcels['Block #'].str.contains("  ")==False]

In [1318]:
parcels['Block #'].dtypes

dtype('O')

In [1319]:
parcels.insert(0, 'Parcel_ID', range(1,1+len(parcels)))

In [1320]:
parcels.head()

   Parcel_ID Block # Parcel # Ward #     Land use
0          1       1        2      4   Commercial
1          2       1        3      4   Commercial
2          3       1        4      4   Commercial
3          4       1        5      4  Residential
4          5       1        6      4   Commercial

In [1321]:
parcels.columns = ["parcel_id", "block_num", "parcel_num", "ward_num", "land_use"]

In [1322]:
parcels.to_csv('output/parcels.csv', index=False)

In [1323]:
parcels. shape

(542, 5)

In [1324]:
parcel_id=parcels[['parcel_id']]

In [1325]:
addresses= copy[['Street number', 'Street address']]

In [1326]:
addresses=addresses.join(parcels[['parcel_id']])

In [1327]:
addresses.head()

           Street number               Street address  parcel_id
0  198\n198 1/2\n198-200                 Hillard Ave.          1
1                202-208                 Hillard Ave.          2
2                90\n196  Asheland Ave.\nHillard Ave.          3
3                     94                Asheland Ave.          4
4                     98                Asheland Ave.          5

In [1328]:
addresses.shape

(542, 3)

In [1329]:
addresses.head()

           Street number               Street address  parcel_id
0  198\n198 1/2\n198-200                 Hillard Ave.          1
1                202-208                 Hillard Ave.          2
2                90\n196  Asheland Ave.\nHillard Ave.          3
3                     94                Asheland Ave.          4
4                     98                Asheland Ave.          5

In [1330]:
def splitRow(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Street number']):
            data = row['Street number'].split('\n')
            for d in data:
                newrow = row
                newrow['Street number'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [1331]:
test= splitRow(addresses)
test
##s = test[test['Street address'] == 'Hillard Ave.']
##x = addresses[addresses['Street address'] == 'Hillard Ave.']
##print(x)

/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Street number                            Street address  parcel_id
0             198                              Hillard Ave.        1.0
1         198 1/2                              Hillard Ave.        1.0
2         198-200                              Hillard Ave.        1.0
3         202-208                              Hillard Ave.        2.0
4              90               Asheland Ave.\nHillard Ave.        3.0
5             196               Asheland Ave.\nHillard Ave.        3.0
6              94                             Asheland Ave.        4.0
7              98                             Asheland Ave.        5.0
8       110 - 112                             Asheland Ave.        6.0
9             114                             Asheland Ave.        7.0
10            122                             Asheland Ave.        8.0
11    Rear of 114                             Asheland Ave.        9.0
12        132 1/2                             Asheland Ave.       10.0
13            132                             Asheland Ave.       11.0
14            136                             Asheland Ave.       12.0
15            136                             Asheland Ave.       13.0
16              2                               Wallack St.       14.0
17              5                               Wallack St.       15.0
18              7                               Wallack St.       16.0
19              9                               Wallack St.       17.0
20             11                               Wallack St.       18.0
21             15                               Wallack St.       19.0
22             17                               Wallack St.       20.0
23             23                               Wallack St.       21.0
24             23                               Wallack St.       22.0
25             55                               Wallack St.       23.0
26         47 1/2                               Wallack St.       24.0
27             77                               Wallack St.       25.0
28             87                               Wallack St.       26.0
29     Rear of 87                               Wallack St.       27.0
..            ...                                       ...        ...
544             9                    Across from 9 Louie St      513.0
545           N/S  N/E Cor. Southern St. \nand Graham Place      514.0
546           N/S                           Southern Street      515.0
547            99                                  Asheland      516.0
548           105                                  Asheland      517.0
549            33                             Silver Street      518.0
550           NaN                      Near 176 S. Grove Rd      519.0
551       178 1/2                             S. Grove Road      520.0
552           493                    S. French Broad Avenue      521.0
553       494-496                              Depot Street      522.0
554           113                              Black Street      523.0
555           103                              Black Street      524.0
556         168.5                        South Grove Street      525.0
557           174            Rear of 174 South Grove Street      526.0
558           174            Rear of 174 South Grove Street      527.0
559           192                        South Grove Street      528.0
560           NaN                                       NaN      529.0
561           118                        South Grove Street      530.0
562           113                             Asheland Ave.      531.0
563           111                             Asheland Ave.      532.0
564           502                                 Depot St.      533.0
565            82                            Livingston St.      534.0
566           100                        South Grove Street      535.0
567            88                   South French Broad Ave.      536.0
568             7                                Silver St.      537.0
569             7                                Silver St.      538.0
570             7                                Silver St.      539.0
571             8                                DeWitt St.      540.0
572             8                                DeWitt St.      541.0
573             8                                DeWitt St.      542.0

[574 rows x 3 columns]

In [1332]:
test.insert(0,'ID',range(1,1+len(test)))

In [1333]:
test.head()

   ID Street number               Street address  parcel_id
0   1           198                 Hillard Ave.        1.0
1   2       198 1/2                 Hillard Ave.        1.0
2   3       198-200                 Hillard Ave.        1.0
3   4       202-208                 Hillard Ave.        2.0
4   5            90  Asheland Ave.\nHillard Ave.        3.0

In [1334]:
test.parcel_id = test["parcel_id"].astype(int)

In [1335]:
test.columns = ["id", "st_num", "st_name", "parcel_id"]

In [1336]:
test.to_csv('output/addresses.csv', index=False)

In [1337]:
test.head()

   id   st_num                      st_name  parcel_id
0   1      198                 Hillard Ave.          1
1   2  198 1/2                 Hillard Ave.          1
2   3  198-200                 Hillard Ave.          1
3   4  202-208                 Hillard Ave.          2
4   5       90  Asheland Ave.\nHillard Ave.          3

In [745]:
people=copy[['Previous Transfer of deed People Involved','Decision People Involved','Final Transfer of Deed People Involved','Appraiser Name','Offer Made People Involved']]

In [746]:
people.head()

,Previous Transfer of deed People Involved,Decision People Involved,Final Transfer of Deed People Involved,Appraiser Name,Offer Made People Involved
0,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...
1,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,"Charles R. Stinnette Co., Inc.\n\nHACA","Charles R. Stinnette Co., Inc.\n\nHACA",Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,"Charles R. Stinnette Co., Inc.\n\nHACA"
2,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...
3,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Thelma Smathers Johnson\n\nHACA,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,Thelma Smathers Johnson\nElizabeth Pauline Sma...
4,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n","Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Edward Sale\nR. Moore\nH.E. Johnson,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n"

In [544]:
people = people.stack().reset_index()

In [545]:
people.head()

,level_0,level_1,0
0,0,Previous Transfer of deed People Involved,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...
1,0,Decision People Involved,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...
2,0,Final Transfer of Deed People Involved,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...
3,0,Appraiser Name,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson
4,0,Offer Made People Involved,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...

In [546]:
people.columns = ["a","b","names"]

In [547]:
people = people.drop(['a', 'b'], axis=1)

In [548]:
def splitRows(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        print(row)
        if '\n' in str(row['names']):
            names = row['names'].split('\n')
            print(names)
            for n in names:
                print (n)
                newrow = row
                newrow['names'] = n
                newframe.loc[size]=newrow
                size+=1
                print(newrow)
        else:
            newframe.loc[size]=row
            size+=1
        break
#     print("final:")
#     print (newframe)
    return newframe

In [549]:
def name_cleaner(name):
    k = re.sub(r'[0-9][.]', '', name)
    k = re.sub(r'[\(\)\-\&]', '', k)
    k = re.sub(r'[0-9]', '', k)
    k = re.sub(r'[.,]', ' ', k)
    k = re.sub('  ', ' ', k)
    k = k.strip()
    return k

In [1177]:
def date_cleaner(date):
    k = re.sub(r'[0-9][.]', '', date)
    k = k.strip()
    return k

In [550]:

def name_organizer(table):
    clean_names=[]
    
    for index, row in table.iterrows():
        names = str(row['names'])
        
        if '\n' in names:
            arr = names.split('\n')
            arr = [i for i in arr if i is not ""]
            for n in arr:
                k = name_cleaner(n)
                if k == '': 
                    continue
                clean_names.append(k)
        else:
            k = name_cleaner(names)
            if k == '': 
                continue
            clean_names.append(k)
    return clean_names

In [551]:
people=name_organizer(people)

In [552]:
newframe=pd.DataFrame(columns=['name'])

In [554]:
newframe['name'] = pd.Series(people)

In [556]:
newframe = newframe.sort_values(by='name', ascending=True)

In [557]:
newframe['id'] = range(len(newframe['name']))

In [559]:
newframe = newframe.groupby('name').agg("count")

## Saving People's Name Count as CSV

In [563]:
newframe["name"] = newframe.index

In [565]:
newframe.index = range(0,len(newframe))

In [567]:
newframe.columns = ["count", "name"]

In [569]:
newframe["id"] = newframe.index + 1

In [570]:
newframe.head()

   count               name  id
0      2                  ?   1
1      2         A C Brandl   2
2      3      A C Brandl Jr   3
3      2  A Carrell Jelliff   4
4      6         A G Carver   5

In [571]:
newframe.to_csv('output/people_count.csv')

## Event Association Table

In [747]:
event_assoc=copy[['Decision People Involved','Decision Role']]

In [748]:
event_assoc.head()

                            Decision People Involved           Decision Role
0  \nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...    Owner\n\n\nPurchaser
1             Charles R. Stinnette Co., Inc.\n\nHACA      Owner\n\nPurchaser
2  William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...  Owner\n\n\n\nPurchaser
3  Thelma Smathers Johnson\nElizabeth Pauline Sma...    Owner\n\n\nPurchaser
4   Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n      Owner\n\nPurchaser

In [749]:
def splitRowEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            roles= str(row['Decision Role']).split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            if('Heir' in roles):
                norm='Heir'
                norm_prev='Heir'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = data[d]
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [750]:
t=splitRowEvents(event_assoc)

In [751]:
t.head()

  Decision People Involved         Decision Role
0                           Owner\n\n\nPurchaser
1    Amelia K. Kalogerakis             Purchaser
2        Eva K. Cleraderas             Purchaser
3        Steve Kalogerakis             Purchaser
4                                      Purchaser

In [752]:
t['Decision People Involved'].replace('', np.nan, inplace=True)

In [753]:
t.head()

  Decision People Involved         Decision Role
0                      NaN  Owner\n\n\nPurchaser
1    Amelia K. Kalogerakis             Purchaser
2        Eva K. Cleraderas             Purchaser
3        Steve Kalogerakis             Purchaser
4                      NaN             Purchaser

In [754]:
t.dropna(inplace=True)

In [755]:
t.columns = ["people","role"]

In [756]:
# t.people=t.people.apply(lambda x: x.lower())

In [757]:
for index, row in t.iterrows():
    name = name_cleaner(str(row["people"]))
    t.loc[t.index == index,"people"] = name

In [758]:
t.head(10)

                         people       role
1          Amelia K Kalogerakis  Purchaser
2              Eva K Cleraderas  Purchaser
3             Steve Kalogerakis  Purchaser
5                          HACA      Owner
6   Charles R Stinnette Co  Inc      Owner
8                          HACA  Purchaser
9                 William I Lee      Owner
10                 Zyphin J Lee      Owner
11                H Kenneth Lee      Owner
12                Frances W Lee      Owner

In [759]:
t = t.merge(newframe,how='left', left_on='people',right_on='name')

In [760]:
t.dropna(inplace=True)

In [761]:
types=['Previous Transfer of Deed','Final Transfer of Deed','Appraisal','Offer Made', 'Decision', 'Award','Tenant','End of Case']

In [762]:
event_types=pd.DataFrame({'Type':types})

In [766]:
event_types

   ID                       Type
0   1  Previous Transfer of Deed
1   2     Final Transfer of Deed
2   3                  Appraisal
3   4                 Offer Made
4   5                   Decision
5   6                      Award
6   7                     Tenant
7   8                End of Case

In [764]:
event_types.insert(0, 'ID', range(1,1+len(event_types)))

In [765]:
event_types.to_csv('output/event_types.csv')

In [1178]:
previous_events=copy[['Block #', 'Parcel #','Previous Transfer of deed Event Date','Previous Transfer of deed People Involved','Previous Transfer of deed Role']]

In [1179]:
aa = str(previous_events.iloc[[44]]["Previous Transfer of deed Event Date"])

In [1180]:
def splitRowPreviousEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        
        parcel=row['Parcel #']
        block=row['Block #']
        
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Previous Transfer of deed People Involved']):
            
            # when the row is separated by ---        
            if '---' in str(row['Previous Transfer of deed People Involved']):

                people = str(row['Previous Transfer of deed People Involved'])
                roles = str(row['Previous Transfer of deed Role'])
                agree_dates = str(row['Previous Transfer of deed Event Date'])
                
                people = re.sub(r'[\-]+', 'separator', people) 
                roles = re.sub(r'[\-]+', 'separator', roles) 
                agree_dates = re.sub(r'[\-]+', 'separator', agree_dates) 
                
                people = people.split("separator")
                roles = roles.split("separator")
                agree_dates = agree_dates.split("separator")
                
                prev_role = ""
                prev_date = ""
                
                for d in range(len(people)):
                    people2 = people[d].split('\n')
                    
                    try:                        
                        roles2 = re.sub(r'[\n]+', '\n', roles[d])                        
                        roles2 = roles2.strip().split('\n')
                        prev_role = roles2
                    except:
                        roles2 = prev_role
                        
                    try:                        
                        agree_dates2 = re.sub(r'[\n]+', '\n', agree_dates[d])                        
                        agree_dates2 = agree_dates2.strip().split('\n')
                        prev_date = agree_dates2
                    except:
                        agree_dates2 = prev_date                        
                    
                    
                    
                    role_counter = 0
                    date_counter = 0
                    
                    for k in range(len(people2)):
                        if people2[k] == '':
                            role_counter += 1
                            date_counter += 1

                        newrow2 = row                
                        newrow2['Previous Transfer of deed People Involved'] = name_cleaner(people2[k])
                            
                        try:
                            newrow2['Previous Transfer of deed Role']= roles2[role_counter]
                        except:
                            role_counter -= 1
                            newrow2['Previous Transfer of deed Role']= roles2[role_counter]

                        try:
                            newrow2['Previous Transfer of deed Event Date'] = date_cleaner(agree_dates2[date_counter])
                        except:
                            date_counter -= 1
                            newrow2['Previous Transfer of deed Event Date'] = date_cleaner(agree_dates2[date_counter])

                           
                        newrow2['Parcel #']=parcel
                        newrow2['Block #']=block                        

                        newframe.loc[size]=newrow2
                        size+=1
                
            # when the row is NOT separated by ---            
            else:
                roles = re.sub(r'[\n]+', '\n', str(row['Previous Transfer of deed Role'])) 
                agree_dates = re.sub(r'[\n]+', '\n', str(row['Previous Transfer of deed Event Date'])) 
                
                people = row['Previous Transfer of deed People Involved'].split('\n')
                roles = roles.strip().split('\n')
                agree_dates = agree_dates.strip().split('\n')
                role_counter = 0
                date_counter = 0

                for d in range(len(people)):
                    if people[d] == '':
                        role_counter += 1
                        date_counter += 1

                    newrow = row                
                    newrow['Previous Transfer of deed People Involved'] = name_cleaner(people[d])
                    try:
                        newrow['Previous Transfer of deed Role']= roles[role_counter]
                    except:
                        role_counter -= 1
                        newrow['Previous Transfer of deed Role']= roles[role_counter]
                        
                    try:
                        newrow['Previous Transfer of deed Event Date'] = date_cleaner(agree_dates[date_counter])
                    except:
                        date_counter -= 1
                        newrow['Previous Transfer of deed Event Date'] = date_cleaner(agree_dates[date_counter])
                        
                    newrow['Parcel #']=parcel
                    newrow['Block #']=block                        

                    newframe.loc[size]=newrow
                    size+=1
        else:
            if str(row["Previous Transfer of deed People Involved"]) == "-" or str(row["Previous Transfer of deed People Involved"]) == "":
                newframe.loc[size]=row
            else:
                newframe.loc[size]=row
                name = name_cleaner(str(row["Previous Transfer of deed People Involved"]))
                newframe.loc[newframe.index == size,"Previous Transfer of deed People Involved"] = name
                date = date_cleaner(str(row["Previous Transfer of deed Event Date"]))
                newframe.loc[newframe.index == size,"Previous Transfer of deed Event Date"] = date
                
                
            size+=1
    return newframe

In [1181]:
prev_events=splitRowPreviousEvents(previous_events)

In [1182]:
prev_events['Previous Transfer of deed People Involved'].replace('', np.nan, inplace=True)

In [1183]:
prev_events=prev_events.dropna()

## Event Type 1: Previous Transper of Deed

In [1184]:
prev_events.insert(0, 'Event_Type', 1)

In [1185]:
prev_events.columns = ["event_types", "block_num", "parcel_num", "event_date", "person", "person_role"]

In [1186]:
prev_events.head()

,event_types,block_num,parcel_num,event_date,person,person_role
0,1,1,2,-,Bessie S Kalogerakis,Owner
2,1,1,2,-,Amelia K Kalogerakis,Heir
3,1,1,2,-,Eva K Cleraderas,Heir
4,1,1,2,-,Steve Kalogerakis,Heir
5,1,1,3,8/1/67,W S Harrison,Owner

In [1187]:
prev_events.to_csv("output/prev_events.csv")

## Event Type 2: Final Transfer of Deed

In [1197]:
final_events=copy[['Block #', 'Parcel #','Final Transfer of Deed Event Date','Final Transfer of Deed Amount Money','Final Transfer of Deed People Involved',
                   'Final Transfer of Deed Role']]

In [1198]:
final_events.head()

,Block #,Parcel #,Final Transfer of Deed Event Date,Final Transfer of Deed Amount Money,Final Transfer of Deed People Involved,Final Transfer of Deed Role
0,1,2,6/6/69,8500,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...,Owner\n\n\n\n\n\n\n\nPurchaser
1,1,3,6/17/71,21600,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,1,4,7/13/72,46000,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,1,5,5/29/74,8000,Thelma Smathers Johnson\n\nHACA,Owner\n\nPurchaser
4,1,6,10/9/74,40000,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser

In [1199]:
def splitRowFinalEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        
        parcel=row['Parcel #']
        block=row['Block #']
        money=row['Final Transfer of Deed Amount Money']
        
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Final Transfer of Deed People Involved']):
            
            # when the row is separated by ---        
            if '---' in str(row['Final Transfer of Deed People Involved']):

                people = str(row['Final Transfer of Deed People Involved'])
                roles = str(row['Final Transfer of Deed Role'])
                agree_dates = str(row['Final Transfer of Deed Event Date'])
                
                people = re.sub(r'[\-]+', 'separator', people) 
                roles = re.sub(r'[\-]+', 'separator', roles) 
                agree_dates = re.sub(r'[\-]+', 'separator', agree_dates) 
                
                people = people.split("separator")
                roles = roles.split("separator")
                agree_dates = agree_dates.split("separator")
                
                prev_role = ""
                prev_date = ""
                
                for d in range(len(people)):
                    people2 = people[d].split('\n')
                    
                    try:                        
                        roles2 = re.sub(r'[\n]+', '\n', roles[d])                        
                        roles2 = roles2.strip().split('\n')
                        prev_role = roles2
                    except:
                        roles2 = prev_role
                        
                    try:                        
                        agree_dates2 = re.sub(r'[\n]+', '\n', agree_dates[d])                        
                        agree_dates2 = agree_dates2.strip().split('\n')
                        prev_date = agree_dates2
                    except:
                        agree_dates2 = prev_date                        
                    
                    
                    
                    role_counter = 0
                    date_counter = 0
                    
                    for k in range(len(people2)):
                        if people2[k] == '':
                            role_counter += 1
                            date_counter += 1

                        newrow2 = row                
                        newrow2['Final Transfer of Deed People Involved'] = name_cleaner(people2[k])
                            
                        try:
                            newrow2['Final Transfer of Deed Role']= roles2[role_counter]
                        except:
                            role_counter -= 1
                            newrow2['Final Transfer of Deed Role']= roles2[role_counter]

                        try:
                            newrow2['Final Transfer of Deed Event Date'] = date_cleaner(agree_dates2[date_counter])
                        except:
                            date_counter -= 1
                            newrow2['Final Transfer of Deed Event Date'] = date_cleaner(agree_dates2[date_counter])

                           
                        newrow2['Parcel #']=parcel
                        newrow2['Block #']=block   
                        newrow2['Final Transfer of Deed Amount Money'] = money

                        newframe.loc[size]=newrow2
                        size+=1
                
            # when the row is NOT separated by ---            
            else:
                roles = re.sub(r'[\n]+', '\n', str(row['Final Transfer of Deed Role'])) 
                agree_dates = re.sub(r'[\n]+', '\n', str(row['Final Transfer of Deed Event Date'])) 
                
                people = row['Final Transfer of Deed People Involved'].split('\n')
                roles = roles.strip().split('\n')
                agree_dates = agree_dates.strip().split('\n')
                role_counter = 0
                date_counter = 0

                for d in range(len(people)):
                    if people[d] == '':
                        role_counter += 1
                        date_counter += 1

                    newrow = row                
                    newrow['Final Transfer of Deed People Involved'] = name_cleaner(people[d])
                    try:
                        newrow['Final Transfer of Deed Role']= roles[role_counter]
                    except:
                        role_counter -= 1
                        newrow['Final Transfer of Deed Role']= roles[role_counter]
                        
                    try:
                        newrow['Final Transfer of Deed Event Date'] = date_cleaner(agree_dates[date_counter])
                    except:
                        date_counter -= 1
                        newrow['Final Transfer of Deed Event Date'] = date_cleaner(agree_dates[date_counter])
                        
                    newrow['Parcel #']=parcel
                    newrow['Block #']=block     
                    newrow['Final Transfer of Deed Amount Money'] = money

                    newframe.loc[size]=newrow
                    size+=1
        else:
            if str(row["Final Transfer of Deed People Involved"]) == "-" or str(row["Final Transfer of Deed People Involved"]) == "":
                newframe.loc[size]=row
            else:
                newframe.loc[size]=row
                name = name_cleaner(str(row["Final Transfer of Deed People Involved"]))
                newframe.loc[newframe.index == size,"Final Transfer of Deed People Involved"] = name
                date = date_cleaner(str(row["Final Transfer of Deed Event Date"]))
                newframe.loc[newframe.index == size,"Final Transfer of Deed Event Date"] = date
                
                
            size+=1
    return newframe

In [1200]:
final_events=splitRowFinalEvents(final_events)

In [1201]:
final_events['Final Transfer of Deed People Involved'].replace('', np.nan, inplace=True)

In [1202]:
final_events=final_events.dropna()

In [1203]:
final_events.insert(0, 'Event_Type', 2)

In [1204]:
final_events.columns = ["event_types", "block_num", "parcel_num", "event_date", "money", "person", "person_role"]

In [1205]:
final_events.head()

,event_types,block_num,parcel_num,event_date,money,person,person_role
0,2,1,2,6/6/69,8500,Eva K Cledaras,Owner
1,2,1,2,6/6/69,8500,George M Cledaras,Owner
2,2,1,2,6/6/69,8500,Steve Kalogerakis,Owner
3,2,1,2,6/6/69,8500,Shirley Kalogerakis,Owner
4,2,1,2,6/6/69,8500,Amelia K Candler,Owner

## Event Type 3: Appraisal

In [809]:
appraisel=copy[['Block #', 'Parcel #','Appraiser Name','Appraiser Event Date','Appraiser Amount Money']]

In [810]:
appraisel.head()

,Block #,Parcel #,Appraiser Name,Appraiser Event Date,Appraiser Amount Money
0,1,2,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/31/1968\n11/09/1968,6250\n7000\n9300
1,1,3,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/12/1968\n11/02/1968,16400\n15000\n14000
2,1,4,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/15/1968\n11/02/1968,27000\n35000\n35500
3,1,5,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/16/1968\n10/22/1968,7250\n8000\n6600
4,1,6,Edward Sale\nR. Moore\nH.E. Johnson,04/14/1974\n08/09/1974\n03/04/1974,43706\n40000\n38500

In [811]:
exceptionList=[]
def splitRowAppraise(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        parcel=row['Parcel #']
        block=row['Block #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Appraiser Name']):
            data = row['Appraiser Name'].split('\n')
            dates=str(row['Appraiser Event Date']).split('\n')
            money=str(row['Appraiser Amount Money']).split('\n')
            placeholder=0
            try:
                for d in range(len(data)):
                    newrow = row
                    newrow['Appraiser Name'] = name_cleaner(data[d])
                    newrow['Appraiser Event Date']= dates[d]
                    if d < len(money):
                        newrow['Appraiser Amount Money']=  money[d]
                        if placeholder!=0:
                            placeholder += 1
                    else:
                        newrow['Appraiser Amount Money']=  money[placeholder]
                    newrow['Parcel #']= parcel
                    newrow['Block #']= block
                    newframe.loc[size]=newrow
                    size+=1
            except:
                exceptionList.append(row) 
        else:
            newframe.loc[size]=row
            name = name_cleaner(str(row["Appraiser Name"]))
            newframe.loc[newframe.index == size,"Appraiser Name"] = name
            size+=1
    return newframe

In [812]:
appraisel = splitRowAppraise(appraisel)

In [813]:
appraisel.insert(0, 'Event_Type', 3)

In [814]:
exceptionList

[Block #                                     37
 Parcel #                                     9
 Appraiser Name               Jack Ochsenreiter
 Appraiser Event Date      09/15/196505/27/1968
 Appraiser Amount Money                    1000
 Name: 112, dtype: object, Block #                       56A
 Parcel #                       13
 Appraiser Name
 Appraiser Event Date      3/11/70
 Appraiser Amount Money       4250
 Name: 313, dtype: object, Block #                                61
 Parcel #                               17
 Appraiser Name            Clyde G Idol Jr
 Appraiser Event Date              2/13/73
 Appraiser Amount Money               6350
 Name: 368, dtype: object, Block #                           53
 Parcel #                           7
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          1800
 Name: 503, dtype: object, Block #                          55
 Parcel #                         13
 Appraiser Name
 Appraiser Event Date      9/15/1965
 Appraiser Amount Money         5550
 Name: 504, dtype: object, Block #                           55
 Parcel #                          49
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          1350
 Name: 510, dtype: object, Block #                            5
 Parcel #                           2
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          4400
 Name: 512, dtype: object, Block #                            4
 Parcel #                          24
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          9000
 Name: 528, dtype: object, Block #                            4
 Parcel #                          23
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          7850
 Name: 529, dtype: object, Block #                           5
 Parcel #                         16
 Appraiser Name
 Appraiser Event Date      9/15/1965
 Appraiser Amount Money         6250
 Name: 530, dtype: object, Block #                           53
 Parcel #                         15B
 Appraiser Name
 Appraiser Event Date      06/12/1974
 Appraiser Amount Money          1220
 Name: 533, dtype: object, Block #                           53
 Parcel #                           8
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          8100
 Name: 534, dtype: object, Block #                           55
 Parcel #                          40
 Appraiser Name
 Appraiser Event Date      09/15/1965
 Appraiser Amount Money          6500
 Name: 535, dtype: object, Block #                           6
 Parcel #                          8
 Appraiser Name
 Appraiser Event Date      6/20/1966
 Appraiser Amount Money         4650
 Name: 549, dtype: object]

In [818]:
appraisel.columns = ["event_types", "block_num", "parcel_num", "person", "event_date", "money"]

In [819]:
appraisel.head()

   event_types block_num parcel_num            person  event_date  money
0            3         1          2   Clyde G Idol Jr  09/15/1965   6250
1            3         1          2  Alan Butterworth  07/31/1968   7000
2            3         1          2       H E Johnson  11/09/1968   9300
3            3         1          3   Clyde G Idol Jr  09/15/1965  16400
4            3         1          3  Alan Butterworth  07/12/1968  15000

## Event Type 4: Offer Made

In [820]:
offerMade=copy[['Block #', 'Parcel #','Offer Made Amount Money','Offer Made People Involved','Offer Made Event Date','Offer Made Role']]

In [821]:
offerMade.head()

,Block #,Parcel #,Offer Made Amount Money,Offer Made People Involved,Offer Made Event Date,Offer Made Role
0,1,2,8500,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,3/14/69,Owner\n\n\nPurchaser
1,1,3,15000,"Charles R. Stinnette Co., Inc.\n\nHACA",8/6/69,Owner\n\nPurchaser
2,1,4,35500,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,6/17/70,Owner\n\n\n\nPurchaser
3,1,5,8000,Thelma Smathers Johnson\nElizabeth Pauline Sma...,11/17/1969\n05/07/1974,Owner\n\n\nPurchaser
4,1,6,40000,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",8/16/74,Owner\n\nPurchaser

In [822]:
def splitRowOfferMade(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Offer Made Event Date']
        parcel=row['Parcel #']
        block=row['Block #']
        money=row['Offer Made Amount Money']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Offer Made People Involved']):
            data = row['Offer Made People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Offer Made People Involved'] = name_cleaner(data[d])
                newrow['Offer Made Event Date']= date
                newrow['Parcel #']=parcel
                newrow['Block #']=block
                newrow['Offer Made Amount Money']=money
                if data[d]!='':
                    newrow['Offer Made Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            name = name_cleaner(str(row["Offer Made People Involved"]))
            newframe.loc[newframe.index == size,"Offer Made People Involved"] = name
            size+=1
    return newframe

In [823]:
offerMade=splitRowOfferMade(offerMade)
##there is an extra newline at the begining that messes up the first row

In [824]:
offerMade['Offer Made People Involved'].replace('', np.nan, inplace=True)

In [825]:
offerMade=offerMade.dropna()

In [826]:
offerMade.insert(0, 'Event_Type', 4)

In [828]:
offerMade.columns = ["event_types", "block_num", "parcel_num", "money", "person", "event_date", "person_role"]

In [829]:
offerMade.head()

,event_types,block_num,parcel_num,money,person,event_date,person_role
1,4,1,2,8500,Amelia K Kalogerakis,3/14/69,Purchaser
2,4,1,2,8500,Eva K Cleraderas,3/14/69,Purchaser
3,4,1,2,8500,Steve Kalogerakis,3/14/69,Purchaser
5,4,1,2,8500,HACA,3/14/69,Owner
6,4,1,3,15000,Charles R Stinnette Co Inc,8/6/69,Owner

## Event Type 5: Decision Made

In [830]:
decision=copy[['Block #', 'Parcel #','Decision Event Date','Decision Amount Money','Decision Response','Decision People Involved','Decision Role']]

In [831]:
decision.head()

,Block #,Parcel #,Decision Event Date,Decision Amount Money,Decision Response,Decision People Involved,Decision Role
0,1,2,3/14/69,8500,Accepted,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser
1,1,3,8/6/69,15000,Rejected,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,1,4,6/17/70,35500,Rejected,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,1,5,5/8/74,8000,Accepted,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser
4,1,6,9/23/74,40000,Accepted,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser

In [832]:
def splitRowDecision(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Decision Event Date']
        parcel=row['Parcel #']
        block=row['Block #']
        money=row['Decision Amount Money']
        response=row['Decision Response']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = name_cleaner(data[d])
                newrow['Decision Event Date']= date
                newrow['Parcel #']=parcel
                newrow['Block #']=block
                newrow['Decision Amount Money']=money
                newrow['Decision Response']=response
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            name = name_cleaner(str(row["Decision People Involved"]))
            newframe.loc[newframe.index == size,"Decision People Involved"] = name
            size+=1
    return newframe

In [839]:
decision=splitRowDecision(decision)

decision['Decision People Involved'].replace('', np.nan, inplace=True)

decision=decision.dropna()

decision.insert(0,'Event_Type',5)

decision.columns = ["event_types", "block_num", "parcel_num", "event_date", "money", "response", "person", "person_role"]

decision.head()

,event_types,block_num,parcel_num,event_date,money,response,person,person_role
1,5,1,2,3/14/69,8500,Accepted,Amelia K Kalogerakis,Purchaser
2,5,1,2,3/14/69,8500,Accepted,Eva K Cleraderas,Purchaser
3,5,1,2,3/14/69,8500,Accepted,Steve Kalogerakis,Purchaser
5,5,1,2,3/14/69,8500,Accepted,HACA,Owner
6,5,1,3,8/6/69,15000,Rejected,Charles R Stinnette Co Inc,Owner

## Event Type 6: Award

In [840]:
award=copy[['Block #', 'Parcel #','Award Date','Award Amount Money']]

In [841]:
award.head()

  Block # Parcel # Award Date Award Amount Money
0       1        2          -                  -
1       1        3    7/16/71              21600
2       1        4    8/17/72              46000
3       1        5          -                  -
4       1        6          -                  -

In [842]:
award.insert(0,'Event_Type',6)

In [845]:
award.columns = ["event_types", "block_num", "parcel_num", "event_date", "money"]

In [846]:
award.head()

   event_types block_num parcel_num event_date  money
0            6         1          2          -      -
1            6         1          3    7/16/71  21600
2            6         1          4    8/17/72  46000
3            6         1          5          -      -
4            6         1          6          -      -

## Event Type 7: Tenant

In [971]:
tenant=copy[['Block #', 'Parcel #','Tenant Vacated Date','Tenant Agreement Date','Tenant Cost','Tenant Name','Previous owner\nor\nTenant']]

In [972]:
tenant.head()

,Block #,Parcel #,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant
0,1,2,-,-,-,-,-
1,1,3,-,-,-,-,-
2,1,4,-,-,-,-,-
3,1,5,-,-,-,-,-
4,1,6,-,-,-,-,-

### Needs to write a robust code to tease out names and their roles here

In [973]:
def splitRowTenant(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date= row['Tenant Vacated Date'] if row['Tenant Vacated Date'] != "-" else ""
        parcel=row['Parcel #']
        block=row['Block #']
#         money=row['Tenant Cost']
#         role=row['Previous owner or Tenant']
        
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Tenant Name']):
            tenants = row['Tenant Name'].split('\n')
            rents = row['Tenant Cost'].split('\n')
            roles = row['Previous owner\nor\nTenant'].split('\n')
            agree_dates = row['Tenant Agreement Date'].split('\n')
            prev_role = ""
            prev_date = ""

            for d in range(len(tenants)):
                if tenants[d] == '':
                    continue
                
                newrow = row                
                newrow['Tenant Name'] = name_cleaner(tenants[d])
                newrow['Tenant Cost'] = re.sub(r'[\$]', '', rents[d])
                
                try:
                    newrow['Previous owner\nor\nTenant']= roles[d]
                    prev_role = roles[d] 
                except:
                    newrow['Previous owner\nor\nTenant'] = prev_role
                
                try:
                    newrow['Tenant Agreement Date']= agree_dates[d]
                    prev_date = agree_date[d]
                except:
                    newrow['Tenant Agreement Date']= prev_date
                    
                newrow['Tenant Vacated Date']= date                
                newrow['Parcel #']=parcel
                newrow['Block #']=block                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            if str(row["Tenant Name"]) == "-" or str(row["Tenant Name"]) == "":
                newframe.loc[size]=row
            else:
                newframe.loc[size]=row
                name = name_cleaner(str(row["Tenant Name"]))
                newframe.loc[newframe.index == size,"Tenant Name"] = name
                
                try:
                    rent = re.sub(r'[\$\-]', '', str(row['Tenant Cost']))
                    newframe.loc[newframe.index == size,"Tenant Cost"] = rent
                except Exception as e: 
                    print(e)
                    print (row)
                    break
                
            size+=1
    return newframe

In [974]:
tenant.insert(0,'Event_Type',7)

In [975]:
tenant=splitRowTenant(tenant)

/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/myeong/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [976]:
tenant['Tenant Name'].replace('', np.nan, inplace=True)
tenant=tenant.dropna()

In [977]:
tenant.columns = ["event_types", "block_num", "parcel_num", "extra_information", "event_date", "money", "person", "person_role"]

In [978]:
tenant.event_types = tenant["event_types"].astype(int)

In [979]:
tenant.head()

,event_types,block_num,parcel_num,extra_information,event_date,money,person,person_role
0,7,1,2,-,-,-,-,-
1,7,1,3,-,-,-,-,-
2,7,1,4,-,-,-,-,-
3,7,1,5,-,-,-,-,-
4,7,1,6,-,-,-,-,-

## Event Type 8: End of Case

In [980]:
endCase=copy[['Block #', 'Parcel #','End of Case Finalized Date']]

In [981]:
endCase.head()

  Block # Parcel # End of Case Finalized Date
0       1        2                     6/6/69
1       1        3                  06/171971
2       1        4                    7/13/72
3       1        5                    5/29/74
4       1        6                    10/9/74

In [982]:
endCase.insert(0,'Event_Type',8)

In [984]:
endCase.columns = ["event_types", "block_num", "parcel_num", "event_date"]

In [985]:
endCase.head()

   event_types block_num parcel_num event_date
0            8         1          2     6/6/69
1            8         1          3  06/171971
2            8         1          4    7/13/72
3            8         1          5    5/29/74
4            8         1          6    10/9/74

## Concatenating all Events

In [1206]:
events_table = pd.concat([prev_events,final_events,appraisel,offerMade,decision,award,tenant, endCase])

In [1207]:
events_table.insert(0, 'event_id', range(1,1+len(events_table)))

In [1208]:
events_table.head()

,event_id,block_num,event_date,event_types,extra_information,money,parcel_num,person,person_role,response
0,1,1,-,1,NaN,NaN,2,Bessie S Kalogerakis,Owner,NaN
2,2,1,-,1,NaN,NaN,2,Amelia K Kalogerakis,Heir,NaN
3,3,1,-,1,NaN,NaN,2,Eva K Cleraderas,Heir,NaN
4,4,1,-,1,NaN,NaN,2,Steve Kalogerakis,Heir,NaN
5,5,1,8/1/67,1,NaN,NaN,3,W S Harrison,Owner,NaN

In [1209]:
events_table.to_csv('output/events.csv')

## People Cleaned Up

In [34]:
new_people = pd.read_csv("output/people_count_cleaned.csv")

In [35]:
new_people.head()

   id               name  count          real-name Unnamed: 4
0   1                  ?      2                  ?        NaN
1   2         A C Brandl      2         A C Brandl        NaN
2   3      A C Brandl Jr      3      A C Brandl Jr        NaN
3   4  A Carrell Jelliff      2  A Carrell Jelliff        NaN
4   5         A G Carver      6         A G Carver        NaN

In [36]:
new_people = new_people[["id", "name", "real-name"]]

In [37]:
real_name = new_people.groupby("real-name").agg("count")

In [38]:
real_name["name"] = real_name.index

In [39]:
real_name.id = range(1,1+len(real_name))

In [40]:
real_name.index = range(1,1+len(real_name))

In [41]:
real_name.head()

   id               name
1   1                  ?
2   2         A C Brandl
3   3      A C Brandl Jr
4   4  A Carrell Jelliff
5   5         A G Carver

In [42]:
real_name.to_csv("output/real_people.csv")

In [43]:
new_people = new_people.merge(real_name, how='left', left_on='real-name', right_on='name')

In [44]:
new_people = new_people[["id_x", "name_x", "id_y", "name_y"]]

In [45]:
new_people.columns = ["id", "name", "realname_id", "realname"]

In [46]:
new_people.to_csv("output/people.csv", index=False)

# Join othe tables based on the Event table

In [128]:
new_people = pd.read_csv("output/People.csv")

In [129]:
new_people.head()

   id               name  realname_id           realname
0   1                  ?          1.0                  ?
1   2         A C Brandl          2.0         A C Brandl
2   3      A C Brandl Jr          3.0      A C Brandl Jr
3   4  A Carrell Jelliff          4.0  A Carrell Jelliff
4   5         A G Carver          5.0         A G Carver

In [130]:
events_table = pd.read_csv("output/final_events.csv")

In [131]:
events_table.head()

,event_id,response,extra_information,parcel_id,event_date,event_types,money,person,person_role,eid
0,1,NaN,NaN,1,NaN,1,NaN,Bessie S Kalogerakis,Owner,1
1,2,NaN,NaN,1,NaN,1,NaN,Amelia K Kalogerakis,Heir,2
2,3,NaN,NaN,1,NaN,1,NaN,Eva K Cleraderas,Heir,3
3,4,NaN,NaN,1,NaN,1,NaN,Steve Kalogerakis,Heir,4
4,5,NaN,NaN,2,8/1/67,1,NaN,W S Harrison,Owner,5

In [132]:
events_table = events_table.merge(new_people, how='left', left_on='person', right_on='name')

In [133]:
events_table.head()

,event_id,response,extra_information,parcel_id,event_date,event_types,money,person,person_role,eid,id,name,realname_id,realname
0,1,NaN,NaN,1,NaN,1,NaN,Bessie S Kalogerakis,Owner,1,156.0,Bessie S Kalogerakis,142.0,Bessie S Kalogerakis
1,2,NaN,NaN,1,NaN,1,NaN,Amelia K Kalogerakis,Heir,2,69.0,Amelia K Kalogerakis,61.0,Amelia K Kalogerakis
2,3,NaN,NaN,1,NaN,1,NaN,Eva K Cleraderas,Heir,3,504.0,Eva K Cleraderas,458.0,Eva K Cleraderas
3,4,NaN,NaN,1,NaN,1,NaN,Steve Kalogerakis,Heir,4,1620.0,Steve Kalogerakis,1443.0,Steve Kalogerakis
4,5,NaN,NaN,2,8/1/67,1,NaN,W S Harrison,Owner,5,1745.0,W S Harrison,1552.0,W S Harrison

In [134]:
event_assc = events_table[["eid", "realname_id", "person_role"]]

In [135]:
event_assc = event_assc.sort_values(by='realname_id', ascending=True)

In [136]:
event_assc.head()

       eid  realname_id person_role
5533  5528          1.0       Owner
6963  6956          1.0       Owner
1403  1402          2.0   Purchaser
155    156          2.0       Owner
7776  7769          3.0       Owner

In [137]:
event_assc.insert(0,'id',range(1,1+len(event_assc)))

In [142]:
event_assc.dropna(inplace=True)

In [144]:
event_assc["realname_id"] = event_assc["realname_id"].astype(int)

In [145]:
event_assc.to_csv('output/event_association.csv', index=False)

In [ ]:
#After this, I manually removed rows that don't have realname_ids

## Association Table Clean-up

In [1301]:
assoc = pd.read_csv("output/event_association.csv")

In [1302]:
assoc["realname_id"] = assoc.realname_id.astype(int)

In [1303]:
assoc.head()

   Unnamed: 0  id  event_id  realname_id person_role
0        4878   1      4876            1       Owner
1        6164   2      6161            1       Owner
2         155   3       156            2       Owner
3        1328   4      1328            2   Purchaser
4        6939   5      6936            3       Owner

In [1304]:
assoc = assoc[["id", "event_id", "realname_id", "person_role"]]

In [1308]:
assoc.to_csv('output/event_association.csv', index=False)

## Linking Parcel IDs

In [107]:
events_table = pd.read_csv("output/Events.csv")

In [108]:
events_table.head()

,Unnamed: 0,event_id,block_num,event_date,event_types,extra_information,money,parcel_num,person,person_role,response
0,0,1,1,NaN,1,NaN,NaN,2,Bessie S Kalogerakis,Owner,NaN
1,2,2,1,NaN,1,NaN,NaN,2,Amelia K Kalogerakis,Heir,NaN
2,3,3,1,NaN,1,NaN,NaN,2,Eva K Cleraderas,Heir,NaN
3,4,4,1,NaN,1,NaN,NaN,2,Steve Kalogerakis,Heir,NaN
4,5,5,1,8/1/67,1,NaN,NaN,3,W S Harrison,Owner,NaN

In [109]:
parcel = pd.read_csv("output/Parcels.csv")

In [110]:
parcel.head()

   parcel_id block_num parcel_num ward_num     land_use
0          1         1          2        4   Commercial
1          2         1          3        4   Commercial
2          3         1          4        4   Commercial
3          4         1          5        4  Residential
4          5         1          6        4   Commercial

In [111]:
events_table = events_table.merge(parcel, how='left', left_on=['block_num','parcel_num'], right_on=['block_num','parcel_num'])

In [112]:
events_table.head()

,Unnamed: 0,event_id,block_num,event_date,event_types,extra_information,money,parcel_num,person,person_role,response,parcel_id,ward_num,land_use
0,0,1,1,NaN,1,NaN,NaN,2,Bessie S Kalogerakis,Owner,NaN,1,4,Commercial
1,2,2,1,NaN,1,NaN,NaN,2,Amelia K Kalogerakis,Heir,NaN,1,4,Commercial
2,3,3,1,NaN,1,NaN,NaN,2,Eva K Cleraderas,Heir,NaN,1,4,Commercial
3,4,4,1,NaN,1,NaN,NaN,2,Steve Kalogerakis,Heir,NaN,1,4,Commercial
4,5,5,1,8/1/67,1,NaN,NaN,3,W S Harrison,Owner,NaN,2,4,Commercial

In [113]:
events = events_table[["event_id", "response", "extra_information", "parcel_id","event_date","event_types","money", "person", "person_role"]]

In [124]:
events["eid"] = range(1,1+len(events))

In [127]:
events.to_csv("output/final_events.csv", index=False)

In [126]:
events.tail()

,event_id,response,extra_information,parcel_id,event_date,event_types,money,person,person_role,eid
9961,8787,NaN,NaN,541,NaN,8,NaN,NaN,NaN,9962
9962,8787,NaN,NaN,542,NaN,8,NaN,NaN,NaN,9963
9963,8788,NaN,NaN,540,NaN,8,NaN,NaN,NaN,9964
9964,8788,NaN,NaN,541,NaN,8,NaN,NaN,NaN,9965
9965,8788,NaN,NaN,542,NaN,8,NaN,NaN,NaN,9966

In [146]:
final_events = events_table[["eid", "response", "extra_information", "parcel_id","event_date","event_types","money"]]

In [147]:
final_events.to_csv("output/db_events.csv", index=False)